openapi: 3.2.0
info:
  title: Vayana API Documentation Compliance Suite API
  version: 1.0.0
  description: To integrate these APIs please follow documentation
servers:
- url: https://s.api.one.vayana.com
  description: Sandbox Server
tags:
- name: Compliance Suite
paths:
  /atlas/v1/gstin/{gstin}/returns-track/fy/{fy}:
    get:
      tags:
      - Compliance Suite
      summary: Get View And Track Returns
      description: View and Track Return API fetches public information on return filing of a particular GSTIN. You need to provide the financial year (FY) along with the GSTIN to fetch the results (return filings) done during that FY.
      operationId: eas_basic_v1_gstn_view_returns
      _peer-api: /basic/gstn/v3.0/commonapi/v1.0/returns?gstin=29HJKPS9689A8Z5&fy=2020-21&action=RETTRACK&type=R1
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2'
      - $ref: '#/paths/~1atlas~1v1~1gstin~1%7Bgstin%7D/get/parameters/3'
      - name: gstin
        required: true
        schema:
          type: string
          maxLength: 15
          example: 29HJKPS9689A8Z5
        description: GSTIN to search
        in: path
      - name: fy
        required: true
        schema:
          type: string
          example: 2017-18
        description: 'format = YYYY-YY <br />  min-value = 2017-18 '
        in: path
      - name: action
        required: true
        schema:
          type: string
          example: RETTRACK
        in: query
      responses:
        '200':
          description: Successful Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                    example: '1'
                  data:
                    type: object
                    properties:
                      EFiledlist:
                        description: List of Electronically filed returns
                        type: array
                        items:
                          type: object
                          properties:
                            valid:
                              type: boolean
                              examples: true
                            mof:
                              type: string
                              examples:
                              - ONLINE
                            dof:
                              type: string
                              examples:
                              - 16-01-2018
                            ret_prd:
                              type: string
                              examples:
                              - '062017'
                            rtntype:
                              type: string
                              examples:
                              - GSTR3B
                            arn:
                              type: string
                              examples:
                              - AA080617000247D
                            status:
                              type: string
                              examples:
                              - Filed
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    example: null
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - data
        '400':
          description: Failure Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - error
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                  data:
                    type: 'null'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    type: object
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
        '403':
          description: Authorization information is missing or invalid.
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema'
      security:
      - BearerAuth: []
  /atlas/v1/irp/{irp}/einvoice/bulk:
    post:
      tags:
      - Compliance Suite
      summary: Create Bulk einvoice
      description: Generate IRN(s) API supports creation of bulk e-invoices, as opposed to its basic counterpart. Create e-invoice in bulk is an asynchronous API, hence will give a task ID in response. Given a task ID, you could fetch the task status using Status API. In order to download the result, you would need to use Download API.
      operationId: eas_enriched_v1_generate_invoices
      _peer-api: /enriched/einv/v3.0/ni1/invoices
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/3'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/4'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/5'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/6'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/7'
      - required: true
        schema:
          type: string
          enum:
          - ni1
          - ni2
        description: IRP Provider as per GST registration for e-invoicing
        name: irp
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: array
                  items:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/requestBody/content/application~1json/schema'
                meta:
                  type:
                  - object
                  - 'null'
                  properties:
                    pdf:
                      type: string
                      enum:
                      - Y
                      - N
                      example: Y
                    emailRecipientList:
                      type: array
                      items:
                        type: string
                        example: abc@@gmail.com
              required:
              - payload
      responses:
        '200':
          description: Successful Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                    example: '1'
                  data:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/data'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    example: null
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - data
          links:
            CheckTaskStatus:
              operationId: eas_enriched_v1_task_status
              parameters:
                task-id: $response.body#/data/task-id
        '400':
          description: Failure Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                  data:
                    type: 'null'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    type: object
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - error
        '403':
          description: Authorization information is missing or invalid.
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema'
      security:
      - BearerAuth: []
  /atlas/v1/irp/{irp}/einvoice:
    post:
      tags:
      - Compliance Suite
      summary: Generate E-Invoice
      description: Generate IRN offers single e-invoice generation
      operationId: eas_basic_v1_generate_invoice
      _peer-api: /basic/einv/v3.0/ni1/eicore/v1.03/Invoice
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2'
      - name: X-FLYNN-N-IRP-GSP-CODE
        in: header
        required: true
        description: GSP Identifier
        schema:
          type: string
          enum:
          - vay
      - name: X-FLYNN-N-IRP-GSTIN
        in: header
        required: true
        description: GSTIN of the taxpayer
        schema:
          maxLength: 15
          example: 29HJKPS9689A8Z5
      - name: X-FLYNN-N-IRP-USERNAME
        in: header
        required: true
        description: Portal username associated with taxpayer GSTIN for the GSP, Non-sensitive
        schema:
          type: string
          example: test_24_001
      - name: X-FLYNN-N-IRP-PWD
        in: header
        required: false
        description: Portal password associated with GSTIN and Username for the GSP, Non-Sensitive. <br /> Provide either `X-FLYNN-N-IRP-PWD` or `X-FLYNN-S-IRP-PWD`
        schema:
          type: string
          example: Trial63$value
      - name: X-FLYNN-S-IRP-PWD
        in: header
        required: false
        description: Portal password associated with GSTIN and Username for the GSP encrypted, Non-Sensitive. <br /> Provide either `X-FLYNN-N-IRP-PWD` or `X-FLYNN-S-IRP-PWD`<br /> for encryption details see <a href='#secureEncryptionInEas'>S-REK<a/>
        schema:
          type: string
          example: Trial63$value
      - name: irp
        in: path
        required: true
        schema:
          type: string
          enum:
          - ni1
          - ni2
          example: ni1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              Title: 'GST-India Invoice Document '
              Description: GST Invoice format for IRN Generation in INDIA
              properties:
                Version:
                  type: string
                  minLength: 1
                  maxLength: 6
                  example: '1.1'
                Irn:
                  type: string
                  minLength: 64
                  maxLength: 64
                  example: ''
                TranDtls:
                  type: object
                  properties:
                    TaxSch:
                      type: string
                      minLength: 3
                      maxLength: 10
                      enum:
                      - GST
                      pattern: ^(GST)$
                      example: GST
                    SupTyp:
                      type: string
                      minLength: 3
                      maxLength: 10
                      enum:
                      - B2B
                      - SEZWP
                      - SEZWOP
                      - EXPWP
                      - EXPWOP
                      - DEXP
                      pattern: (?i)^((B2B)|(SEZWP)|(SEZWOP)|(EXPWP)|(EXPWOP)|(DEXP))$
                      example: B2B
                    RegRev:
                      type: string
                      minLength: 1
                      maxLength: 1
                      enum:
                      - Y
                      - N
                      pattern: ^([Y|N]{1})$
                      example: N
                    EcmGstin:
                      type: string
                      minLength: 15
                      maxLength: 15
                      pattern: ^([0-9]{2}[0-9A-Z]{13})$
                      example: null
                    IgstOnIntra:
                      type: string
                      minLength: 1
                      maxLength: 1
                      enum:
                      - Y
                      - N
                      pattern: ^([Y|N]{1})$
                      example: N
                  required:
                  - TaxSch
                  - SupTyp
                DocDtls:
                  type: object
                  properties:
                    Typ:
                      type: string
                      minLength: 3
                      maxLength: 3
                      enum:
                      - INV
                      - CRN
                      - DBN
                      pattern: (?i)^((INV)|(CRN)|(DBN))$
                      example: INV
                    'No':
                      type: string
                      minLength: 1
                      maxLength: 16
                      pattern: ^([a-zA-Z1-9]{1}[a-zA-Z0-9/-]{0,15})$
                      example: DOC/INV-ATS/001
                    Dt:
                      type: string
                      minLength: 10
                      maxLength: 10
                      pattern: ^[0-3][0-9]/[0-1][0-9]/[2][0][1-2][0-9]$
                      example: 24/09/2023
                  required:
                  - Typ
                  - 'No'
                  - Dt
                SellerDtls:
                  type: object
                  properties:
                    Gstin:
                      type: string
                      minLength: 15
                      maxLength: 15
                      pattern: ([0-9]{2}[0-9A-Z]{13})
                      example: 27AAAPI3182M002
                    LglNm:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: NIC company pvt ltd
                    TrdNm:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: NIC Industries
                    Addr1:
                      type: string
                      minLength: 1
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: 5th block, kuvempu layout
                    Addr2:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: kuvempu layout
                    Loc:
                      type: string
                      minLength: 3
                      maxLength: 50
                      pattern: ^([^\"])*$
                      example: Maharastra
                    Pin:
                      type: number
                      minimum: 100000
                      maximum: 999999
                      example: 400049
                    Stcd:
                      type: string
                      minLength: 1
                      maxLength: 2
                      pattern: ^(?!0+$)([0-9]{1,2})$
                      example: '27'
                    Ph:
                      type: String
                      minLength: 6
                      maxLength: 12
                      pattern: ^([0-9]{6,12})$
                      example: '9000000000'
                    Em:
                      type: string
                      minLength: 6
                      maxLength: 100
                      pattern: ^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$
                      example: abc@gmail.com
                  required:
                  - Gstin
                  - LglNm
                  - Addr1
                  - Loc
                  - Pin
                  - Stcd
                BuyerDtls:
                  type: object
                  properties:
                    Gstin:
                      type: string
                      minLength: 3
                      maxLength: 15
                      pattern: ^(([0-9]{2}[0-9A-Z]{13})|URP)$
                      example: 19AAAPI3182M007
                    LglNm:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: XYZ company pvt ltd
                    TrdNm:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: XYZ Industries
                    Pos:
                      type: string
                      minLength: 1
                      maxLength: 2
                      pattern: ^(?!0+$)([0-9]{1,2})$
                      example: '19'
                    Addr1:
                      type: string
                      minLength: 1
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: 7th block, kuvempu layout
                    Addr2:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: kuvempu layout
                    Loc:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: Kolkata
                    Pin:
                      type: ' number'
                      minimum: 100000
                      maximum: 999999
                      example: 722144
                    Stcd:
                      type: string
                      minLength: 1
                      maxLength: 2
                      pattern: ^(?!0+$)([0-9]{1,2})$
                      example: 19
                    Ph:
                      type: String
                      minLength: 6
                      maxLength: 12
                      pattern: ^([0-9]{6,12})$
                      example: '91111111111'
                    Em:
                      type: string
                      minLength: 6
                      maxLength: 100
                      pattern: ^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$
                      example: xyz@yahoo.com
                  required:
                  - Gstin
                  - LglNm
                  - Pos
                  - Addr1
                  - Loc
                  - Stcd
                DispDtls:
                  type: object
                  properties:
                    Nm:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: ABC company pvt ltd
                    Addr1:
                      type: string
                      minLength: 1
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: 7th block, kuvempu layout
                    Addr2:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: kuvempu layout
                    Loc:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: Maharastra
                    Pin:
                      type: number
                      minimum: 100000
                      maximum: 999999
                      example: '400049'
                    Stcd:
                      type: string
                      minLength: 1
                      maxLength: 2
                      pattern: ^(?!0+$)([0-9]{1,2})$
                      example: '27'
                  required:
                  - Nm
                  - Addr1
                  - Loc
                  - Pin
                  - Stcd
                ShipDtls:
                  type: object
                  properties:
                    Gstin:
                      type: string
                      maxLength: 15
                      minLength: 3
                      pattern: ^(([0-9]{2}[0-9A-Z]{13})|URP)$
                      example: 27ACBPN2353E1ZX
                    LglNm:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: CBE company pvt ltd
                    TrdNm:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: kuvempu layout
                    Addr1:
                      type: string
                      minLength: 1
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: 7th block, kuvempu layout
                    Addr2:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: kuvempu layout
                    Loc:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: ABC
                    Pin:
                      type: number
                      minimum: 100000
                      maximum: 999999
                      example: '400049'
                    Stcd:
                      type: string
                      minLength: 1
                      maxLength: 2
                      pattern: ^(?!0+$)([0-9]{1,2})$
                      example: '27'
                  required:
                  - LglNm
                  - Addr1
                  - Loc
                  - Pin
                  - Stcd
                ItemList:
                  type: array
                  items:
                    type: object
                    properties:
                      SlNo:
                        type: string
                        minLength: 1
                        maxLength: 6
                        pattern: ^([0-9]{1,6})$
                        example: '1'
                      PrdDesc:
                        type: string
                        minLength: 3
                        maxLength: 300
                        pattern: ^([^\"])*$
                        example: Rice
                      IsServc:
                        type: string
                        minLength: 1
                        maxLength: 1
                        enum:
                        - Y
                        - N
                        pattern: ^([Y|N]{1})$
                        example: N
                      HsnCd:
                        type: string
                        minLength: 4
                        maxLength: 8
                        pattern: ^(?!0+$)([0-9]{4}|[0-9]{6}|[0-9]{8})$
                        example: '1001'
                      Barcde:
                        type: string
                        minLength: 3
                        maxLength: 30
                        pattern: ^([^\"])*$
                        example: '123456'
                      Qty:
                        type: number
                        minimum: 0
                        maximum: 9999999999.999
                        example: 100.345
                      FreeQty:
                        type: number
                        minimum: 0
                        maximum: 9999999999.999
                        example: 10
                      Unit:
                        type: string
                        minLength: 3
                        maxLength: 8
                        pattern: ^([A-Z|a-z]{3,8})$
                        example: BAG
                      UnitPrice:
                        type: number
                        minimum: 0
                        maximum: 999999999999.999
                        example: 99.545
                      TotAmt:
                        type: number
                        minimum: 0
                        maximum: 999999999999.99
                        example: 9988.84
                      Discount:
                        type: number
                        minimum: 0
                        maximum: 999999999999.99
                        example: 10
                      PreTaxVal:
                        type: number
                        minimum: 0
                        maximum: 999999999999.99
                        example: 1
                      AssAmt:
                        type: number
                        minimum: 0
                        maximum: 999999999999.99
                        example: 9978.84
                      GstRt:
                        type: number
                        minimum: 0
                        maximum: 999.999
                        example: 12
                      IgstAmt:
                        type: number
                        minimum: 0
                        maximum: 999999999999.99
                        example: 1197.84
                      CgstAmt:
                        type: number
                        minimum: 0
                        maximum: 999999999999.99
                        example: 0
                      SgstAmt:
                        type: number
                        minimum: 0
                        maximum: 999999999999.99
                        example: 0
                      CesRt:
                        type: number
                        minimum: 0
                        maximum: 999.999
                        example: 5
                      CesAmt:
                        type: number
                        minimum: 0
                        maximum: 999999999999.99
                        example: 498.94
                      CesNonAdvlAmt:
                        type: number
                        minimum: 0
                        maximum: 999999999999.99
                        example: 10
                      StateCesRt:
                        type: number
                        minimum: 0
                        maximum: 999.999
                        example: 12
                      StateCesAmt:
                        type: number
                        minimum: 0
                        maximum: 999999999999.99
                        example: 1197.46
                      StateCesNonAdvlAmt:
                        type: number
                        minimum: 0
                        maximum: 999999999999.99
                        example: 5
                      OthChrg:
                        type: number
                        minimum: 0
                        maximum: 999999999999.99
                        example: 10
                      TotItemVal:
                        type: number
                        minimum: 0
                        maximum: 999999999999.99
                        example: 12897.7
                      OrdLineRef:
                        type: string
                        minLength: 1
                        maxLength: 50
                        pattern: ^([^\"])*$
                        example: '3256'
                      OrgCntry:
                        type: string
                        minLength: 2
                        maxLength: 2
                        pattern: ^([A-Z|a-z]{2})$
                        example: AG
                      PrdSlNo:
                        type: string
                        minLength: 1
                        maxLength: 20
                        pattern: ^([^\"])*$
                        example: '12345'
                      BchDtls:
                        type: object
                        properties:
                          Nm:
                            type: string
                            minLength: 3
                            maxLength: 20
                            pattern: ^([^\"])*$
                            example: '123456'
                          ExpDt:
                            type: string
                            maxLength: 10
                            minLength: 10
                            pattern: ^[0-3][0-9]/[0-1][0-9]/[2][0][1-2][0-9]$
                            example: 24/10/2023
                          WrDt:
                            type: string
                            maxLength: 10
                            minLength: 10
                            pattern: ^[0-3][0-9]/[0-1][0-9]/[2][0][1-2][0-9]$
                            example: 24/09/2020
                        required:
                        - Nm
                      AttribDtls:
                        type: array
                        items:
                          type: object
                          properties:
                            Nm:
                              type: string
                              minLength: 1
                              maxLength: 100
                              pattern: ^([^\"])*$
                              example: Rice
                            Val:
                              type: string
                              minLength: 1
                              maxLength: 100
                              pattern: ^([^\"])*$
                              example: '10000'
                    required:
                    - SlNo
                    - IsServc
                    - HsnCd
                    - UnitPrice
                    - TotAmt
                    - AssAmt
                    - GstRt
                    - TotItemVal
                ValDtls:
                  type: object
                  properties:
                    AssVal:
                      type: number
                      minimum: 0
                      maximum: 99999999999999.98
                      example: 9978.84
                    CgstVal:
                      type: number
                      maximum: 99999999999999.98
                      minimum: 0
                      example: 0
                    SgstVal:
                      type: number
                      minimum: 0
                      maximum: 99999999999999.98
                      example: 0
                    IgstVal:
                      type: number
                      minimum: 0
                      maximum: 99999999999999.98
                      example: 1197.46
                    CesVal:
                      type: number
                      minimum: 0
                      maximum: 99999999999999.98
                      example: 508.94
                    StCesVal:
                      type: number
                      minimum: 0
                      maximum: 99999999999999.98
                      example: 1202.46
                    Discount:
                      type: number
                      minimum: 0
                      maximum: 99999999999999.98
                      example: 10
                    OthChrg:
                      type: number
                      minimum: 0
                      maximum: 99999999999999.98
                      example: 20
                    RndOffAmt:
                      type: number
                      minimum: -99.99
                      maximum: 99.99
                      example: 0.3
                    TotInvVal:
                      type: number
                      minimum: 0
                      maximum: 99999999999999.98
                      example: 12908
                    TotInvValFc:
                      type: number
                      minimum: 0
                      maximum: 99999999999999.98
                      example: 12897.7
                  required:
                  - AssVal
                  - TotInvVal
                PayDtls:
                  type: object
                  properties:
                    Nm:
                      type: string
                      minLength: 1
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: ABCDE
                    AccDet:
                      type: string
                      minLength: 1
                      maxLength: 18
                      pattern: ^([^\"])*$
                      example: '5697389713210'
                    Mode:
                      type: string
                      minLength: 1
                      maxLength: 18
                      pattern: ^([^\"])*$
                      example: Cash
                    FinInsBr:
                      type: string
                      minLength: 1
                      maxLength: 11
                      pattern: ^([^\"])*$
                      example: SBIN11000
                    PayTerm:
                      type: string
                      minLength: 1
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: '100'
                    PayInstr:
                      type: string
                      minLength: 1
                      maxLength: 100
                      pattern: ^([^\"])*$
                      description: Payment Instruction
                      example: Gift
                    CrTrn:
                      type: string
                      minLength: 1
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: test
                    DirDr:
                      type: string
                      minLength: 1
                      maxLength: 100
                      pattern: ^([^\"])*$
                      description: Direct Debit
                      example: test
                    CrDay:
                      type: number
                      minimum: 0
                      maximum: 9999
                      description: Credit Days
                      example: 100
                    PaidAmt:
                      type: number
                      minimum: 0
                      maximum: 99999999999999.98
                      example: 10000
                    PaymtDue:
                      type: number
                      minimum: 0
                      maximum: 99999999999999.98
                      example: 5000
                RefDtls:
                  type: object
                  properties:
                    InvRm:
                      type: string
                      maxLength: 100
                      minLength: 3
                      pattern: ^([^\"])*$
                      example: TEST
                    DocPerdDtls:
                      type: object
                      properties:
                        InvStDt:
                          type: string
                          maxLength: 10
                          minLength: 10
                          pattern: ^[0-3][0-9]/[0-1][0-9]/[2][0][1-2][0-9]$
                          example: 24/09/2023
                        InvEndDt:
                          type: string
                          maxLength: 10
                          minLength: 10
                          pattern: ^[0-3][0-9]/[0-1][0-9]/[2][0][1-2][0-9]$
                          example: 26/09/2023
                      required:
                      - ' InvStDt '
                      - ' InvEndDt '
                    PrecDocDtls:
                      type: array
                      items:
                        type: object
                        properties:
                          InvNo:
                            type: string
                            minLength: 1
                            maxLength: 16
                            pattern: ^[1-9a-zA-Z]{1}[0-9a-zA-Z/-]{1,15}$
                            example: DOC/002
                          InvDt:
                            type: string
                            maxLength: 10
                            minLength: 10
                            pattern: ^[0-3][0-9]/[0-1][0-9]/[2][0][1-2][0-9]$
                            example: 23/09/2023
                          OthRefNo:
                            type: string
                            minLength: 1
                            maxLength: 20
                            pattern: ^([^\"])*$
                            example: '123456'
                        required:
                        - InvNo
                        - InvDt
                    ContrDtls:
                      type: array
                      items:
                        type: object
                        properties:
                          RecAdvRefr:
                            type: string
                            minLength: 1
                            maxLength: 20
                            pattern: ^([^\"])*$
                            example: Doc/006
                          RecAdvDt:
                            type: string
                            minLength: 10
                            maxLength: 10
                            pattern: ^[0-3][0-9]/[0-1][0-9]/[2][0][1-2][0-9]$
                            example: 24/09/2020
                          TendRefr:
                            type: string
                            minLength: 1
                            maxLength: 20
                            pattern: ^([^\"])*$
                            example: Abc001
                          ContrRefr:
                            type: string
                            minLength: 1
                            maxLength: 20
                            pattern: ^([^\"])*$
                            example: Co123
                          ExtRefr:
                            type: string
                            minLength: 1
                            maxLength: 20
                            pattern: ^([^\"])*$
                            example: Yo456
                          ProjRefr:
                            type: string
                            minLength: 1
                            maxLength: 20
                            pattern: ^([^\"])*$
                            example: Doc-456
                          PORefr:
                            type: string
                            minLength: 1
                            maxLength: 16
                            pattern: ^([^\"])*$
                            example: Doc-789
                          PORefDt:
                            type: string
                            minLength: 10
                            maxLength: 10
                            pattern: ^[0-3][0-9]/[0-1][0-9]/[2][0][1-2][0-9]$
                            example: 24/09/2023
                AddlDocDtls:
                  type: array
                  items:
                    type: object
                    properties:
                      Url:
                        'type ': string
                        minLength: 3
                        maxLength: 100
                        pattern: ^([^\"])*$
                        example: https://einv-apisandbox.nic.in
                      Docs:
                        'type ': string
                        'minLength ': 3
                        'maxLength ': 1000
                        pattern: ^([^\"])*$
                        example: Test Doc
                      Info:
                        type: string
                        minLength: 3
                        maxLength: 1000
                        pattern: ^([^\"])*$
                        example: Document Test
                ExpDtls:
                  type: object
                  properties:
                    ShipBNo:
                      type: string
                      minLength: 1
                      maxLength: 20
                      pattern: ^([^\"])*$
                      example: A-248
                    ShipBDt:
                      type: string
                      minLength: 10
                      maxLength: 10
                      pattern: ^[0-3][0-9]/[0-1][0-9]/[2][0][1-2][0-9]$
                      example: 24/09/2023
                    Port:
                      type: string
                      minLength: 2
                      maxLength: 10
                      pattern: ^[0-9|A-Z|a-z]{2,10}$
                      example: INABG1
                    RefClm:
                      type: string
                      minLength: 1
                      maxLength: 1
                      pattern: ^([Y|N]{1})$
                      example: N
                    ForCur:
                      type: string
                      minLength: 3
                      maxLength: 16
                      pattern: ^[A-Z|a-z]{3,16}$
                      example: AED
                    CntCode:
                      type: string
                      minLength: 2
                      maxLength: 2
                      pattern: ^([A-Z]{2})$
                      example: AE
                    ExpDuty:
                      type: number
                      minimum: 0
                      maximum: 999999999999.99
                      example: null
                EwbDtls:
                  type: object
                  properties:
                    TransId:
                      type: string
                      minLength: 15
                      maxLength: 15
                      pattern: ^([0-9]{2}[0-9A-Z]{13})$
                      description: Transin/GSTIN
                      example: 03AAAPI3182M002
                    TransName:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      example: XYZ EXPORTS
                    TransMode:
                      type: string
                      maxLength: 1
                      minLength: 1
                      enum:
                      - '1'
                      - '2'
                      - '3'
                      - '4'
                      pattern: ^([1-4]{1})?$
                      example: '1'
                    Distance:
                      type: number
                      minimum: 0
                      maximum: 4000
                      example: 100
                    TransDocNo:
                      type: string
                      minLength: 1
                      maxLength: 15
                      pattern: ^([a-zA-Z0-9/-]{1,15})$
                      example: DOC01
                    TransDocDt:
                      type: string
                      minLength: 10
                      maxLength: 10
                      pattern: ^[a-zA-Z0-9]{1}[a-zA-Z0-9-/]*$
                      example: 24/09/2023
                    VehNo:
                      type: string
                      minLength: 4
                      maxLength: 20
                      pattern: ^([A-Z|a-z|0-9]{4,20})$
                      example: ka123456
                    VehType:
                      type: string
                      minLength: 1
                      maxLength: 1
                      enum:
                      - O
                      - R
                      pattern: ^([O|R]{1})$
                      example: R
                  required:
                  - Distance
              required:
              - Version
              - TranDtls
              - DocDtls
              - SellerDtls
              - BuyerDtls
              - ItemList
              - ValDtls
      responses:
        '200':
          description: Successful Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                    example: '1'
                  data:
                    type: object
                    properties:
                      AckNo:
                        description: Transaction number
                        type: string
                        example: '162310048427387'
                      AckDt:
                        description: Date and time on which invoice is registered(Date format is 'yyyy-MM-dd HH:mm:ss ').
                        type: string
                        example: '2023-07-06 16:42:38'
                      Irn:
                        description: SHA256 hash of Gstin, DocDtls.No, DocDtls.Typ, financial year of DoctDtls.Dt
                        type: string
                        example: 9a36c874d574eda42385fd2796463577dbd66692e3b28a5301c88a1fe9429b91
                      SignedInvoice:
                        description: Complete e-Invoice data digitally signed using JSON Web Token(JWT) and JSON Web Signature (JWS) with 'SHA256RSA' algorithm
                        type: string
                        example: eyJhbGciOiJSUzI1NiIsImtpZCI6IjE1MTNCODIxRUU0NkM3NDlBNjNCODZFMzE4QkY3MTEwOTkyODdEMUYiLCJ4NXQiOiJGUk80SWU1R3gwbW1PNGJqR0w5eEVKa29mUjgiLCJ0eXAiOiJKV1QifQ.eyJkYXRhIjoie1wiQWNrTm9cIjoxNjIzMTAwNDg0MjczODcsXCJBY2tEdFwiOlwiMjAyMy0wNy0wNiAxNjo0MjozOFwiLFwiSXJuXCI6XCI5YTM2Yzg3NGQ1NzRlZGE0MjM4NWZkMjc5NjQ2MzU3N2RiZDY2NjkyZTNiMjhhNTMwMWM4OGExZmU5NDI5YjkxXCIsXCJWZXJzaW9uXCI6XCIxLjFcIixcIlRyYW5EdGxzXCI6e1wiVGF4U2NoXCI6XCJHU1RcIixcIlN1cFR5cFwiOlwiQjJCXCIsXCJSZWdSZXZcIjpcIk5cIixcIklnc3RPbkludHJhXCI6XCJOXCJ9LFwiRG9jRHRsc1wiOntcIlR5cFwiOlwiSU5WXCIsXCJOb1wiOlwiUkFNSVJOSU5BMTk5XCIsXCJEdFwiOlwiMjEvMDYvMjAyMVwifSxcIlNlbGxlckR0bHNcIjp7XCJHc3RpblwiOlwiMjRBQUFQSTMxODJNMDAyXCIsXCJMZ2xObVwiOlwiSktMIFB2dC4gTHRkXCIsXCJUcmRObVwiOlwiSktMIFB2dC4gTHRkXCIsXCJBZGRyMVwiOlwiS2lsbGEgTm9cXHUwMDI3cyAyOS8xNi8yLDI1LjM3LzUsNiwxNSAsXCIsXCJBZGRyMlwiOlwiIERpc3RyaWN0IEd1cnVncmFtICxWaWxsYWdlIFRhaiBOYWdhciAsSGFyeWFuYVwiLFwiTG9jXCI6XCJCYW5nYWxvcmVcIixcIlBpblwiOjM5NTAwMyxcIlN0Y2RcIjpcIjI0XCIsXCJQaFwiOlwiOTAwMDIwNzAyOFwifSxcIkJ1eWVyRHRsc1wiOntcIkdzdGluXCI6XCIyOUFBQVBJMzE4Mk0wMDBcIixcIkxnbE5tXCI6XCJUZXN0IE9yZyBQdnQgTHRkLCBLaW5nc3dheSBCdWlsZGluZ1wiLFwiVHJkTm1cIjpcIlRlc3QgT3JnIFB2dCBMdGQsIEtpbmdzd2F5IEJ1aWxkaW5nXCIsXCJQb3NcIjpcIjI5XCIsXCJBZGRyMVwiOlwiU2hlZCBOby4xMCwgVmlzaW9uIFJlYWx0ZWNoIFByaXZhdGUgTGltaXRlZCwgS2hhc3JhIDc3LzEzIFxcdTAwMjYgNzcvMTFcIixcIkFkZHIyXCI6XCJTYW1wbGEga2hhcmtob2RhIHJvYWQsT3BwIFRDSSBIVUwgV2FyZWhvdXNlLCBUZWhzaWwgU0FNUExBLFZpbGxhZ2UtSGFzc2FuZ2FyaFwiLFwiTG9jXCI6XCJSb2h0YWtcIixcIlBpblwiOjU2MDAyNSxcIlBoXCI6XCI5MDAwMjA3MDI3XCIsXCJTdGNkXCI6XCIyOVwifSxcIkl0ZW1MaXN0XCI6W3tcIkl0ZW1Ob1wiOjAsXCJTbE5vXCI6XCIxXCIsXCJJc1NlcnZjXCI6XCJOXCIsXCJQcmREZXNjXCI6XCJQQVRBTkpBTEkgU0FVTkRBUllBIEFMT0VWRVJBIEdFTCAxNTBNTCBcIixcIkhzbkNkXCI6XCIzNDAxMzA5MFwiLFwiUXR5XCI6NDIwLFwiRnJlZVF0eVwiOjAsXCJVbml0XCI6XCJQQ1NcIixcIlVuaXRQcmljZVwiOjY1LjIxLFwiVG90QW10XCI6MjczODguMixcIkRpc2NvdW50XCI6MCxcIlByZVRheFZhbFwiOjEsXCJBc3NBbXRcIjoyNzM4OC4yLFwiR3N0UnRcIjoxOCxcIklnc3RBbXRcIjo0OTI5Ljg4LFwiQ2dzdEFtdFwiOjAsXCJTZ3N0QW10XCI6MCxcIkNlc1J0XCI6MCxcIkNlc0FtdFwiOjAsXCJDZXNOb25BZHZsQW10XCI6MCxcIlN0YXRlQ2VzUnRcIjowLFwiU3RhdGVDZXNBbXRcIjowLFwiU3RhdGVDZXNOb25BZHZsQW10XCI6MCxcIk90aENocmdcIjoyNC4yNCxcIlRvdEl0ZW1WYWxcIjozMjM0Mi4zMixcIkF0dHJpYkR0bHNcIjpbe1wiTm1cIjpcIlBBVEFOSkFMSSBTQVVOREFSWUEgQUxPRVZFUkEgR0VMIDE1ME1MIFwiLFwiVmFsXCI6XCIyNzM4OC4yMFwifV19XSxcIlZhbER0bHNcIjp7XCJBc3NWYWxcIjoyNzM4OC4yLFwiQ2dzdFZhbFwiOjAsXCJTZ3N0VmFsXCI6MCxcIklnc3RWYWxcIjo0OTI5Ljg4LFwiQ2VzVmFsXCI6MCxcIlN0Q2VzVmFsXCI6MCxcIkRpc2NvdW50XCI6MCxcIk90aENocmdcIjowLFwiUm5kT2ZmQW10XCI6MCxcIlRvdEludlZhbFwiOjMyMzQyLjMyfSxcIlJlZkR0bHNcIjp7XCJJbnZSbVwiOlwiSW52b2ljZSBSZW1hcmtzXCIsXCJEb2NQZXJkRHRsc1wiOntcIkludlN0RHRcIjpcIjIxLzA2LzIwMjFcIixcIkludkVuZER0XCI6XCIzMS8xMi8yMDIxXCJ9fSxcIkV3YkR0bHNcIjp7XCJUcmFuc05hbWVcIjpcIkFCQ0FTXCIsXCJEaXN0YW5jZVwiOjB9fSIsImlzcyI6Ik5JQyBTYW5kYm94In0.vdniSkPmIrrcsQNx7XuyAtJG4-l5-6I28CL9Vhr6mRSYkOEOrgHyPCMQDXQLCPw3dfnKuV85y501Xy3ovKvNbzEQ2nZeNViV-QYjDWlyZdTEQojgoH5HcvU6_7vQkYtRr2KgLyj1Gau6xSzOCDWgRZWec33Q84jpFczs87fAgDIppdYogTGbrBzxmZoSfqdiQIW4jMxnL-HoEkj4LcUxhzJqYpPPFvbf2LwuLK7NPib1QGik5qKAtG9QIfk73duTwLdkb1qZFd2moUX-LYuQCwmhVBa_OfExAFvNlvQJYAjrkon7z3WSRj7db7-k9z-wGG2kHhhlhx_1GWgL1OBcuQ
                      SignedQRCode:
                        description: Complete e-Invoice data digitally signed using JSON Web Token(JWT) and JSON Web Signature (JWS) with 'SHA256RSA' algorithm
                        type: string
                        example: eyJhbGciOiJSUzI1NiIsImtpZCI6IjE1MTNCODIxRUU0NkM3NDlBNjNCODZFMzE4QkY3MTEwOTkyODdEMUYiLCJ4NXQiOiJGUk80SWU1R3gwbW1PNGJqR0w5eEVKa29mUjgiLCJ0eXAiOiJKV1QifQ.eyJkYXRhIjoie1wiU2VsbGVyR3N0aW5cIjpcIjI0QUFBUEkzMTgyTTAwMlwiLFwiQnV5ZXJHc3RpblwiOlwiMjlBQUFQSTMxODJNMDAwXCIsXCJEb2NOb1wiOlwiUkFNSVJOSU5BMTk5XCIsXCJEb2NUeXBcIjpcIklOVlwiLFwiRG9jRHRcIjpcIjIxLzA2LzIwMjFcIixcIlRvdEludlZhbFwiOjMyMzQyLjMyLFwiSXRlbUNudFwiOjEsXCJNYWluSHNuQ29kZVwiOlwiMzQwMTMwOTBcIixcIklyblwiOlwiOWEzNmM4NzRkNTc0ZWRhNDIzODVmZDI3OTY0NjM1NzdkYmQ2NjY5MmUzYjI4YTUzMDFjODhhMWZlOTQyOWI5MVwiLFwiSXJuRHRcIjpcIjIwMjMtMDctMDYgMTY6NDI6MzhcIn0iLCJpc3MiOiJOSUMgU2FuZGJveCJ9.ibQ-nD6SC6_khq8gM2EYvjLcSKgYBiBr4UYC8mG8cfA8lTX16h4j1r5HOoS2_xglcvldrTo9oCJ6YCQJxg4fcx-sxcN-nl2xaui_dF5vc8Dq9KIJmIRc94DvE5zyuDgLA-Tnf_sHkIl7OnbQ_2JmUkj4UBZoXEMROkuuJD5oopCyvKaxByWhJDDfkud03ID6GjjaEMPVKIzzUz6zC7rCN0cR6yiVxGyRTPe3B33tZWPmOLzrLUXJBZZGx95u1g3wfPH3MiYDPRqJREfdcJq2uWyrMm__sQ0deX3n-1YhYBhsUnjukoLElJyzjeQCB6i1XE34E1f8SUpaieRK3b7Elw
                      Status:
                        description: '''ACT'' for Active and ''CNL'' for Cancelled'
                        type: string
                        enum:
                        - ACT
                        - CNL
                        example: ACT
                      EwbNo:
                        description: E Way Bill No. , if E Way Bill is generated
                        type:
                        - number
                        - 'null'
                        example: 191008688443
                      EwbDt:
                        description: E Way Bill Date. , if E Way Bill is generated
                        type:
                        - string
                        - 'null'
                        example: '2020-08-05 15:18:00'
                      EwbValidTill:
                        description: E Way Bill validity date, if Part B details are provided in the payload
                        type:
                        - string
                        - 'null'
                        example: '2020-08-06 23:59:00'
                      Remarks:
                        type:
                        - string
                        - 'null'
                        example: 'null'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    example: null
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - data
        '400':
          description: Failure Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                  data:
                    type: 'null'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    type: object
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - error
        '403':
          description: Authorization information is missing or invalid.
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema'
      security:
      - BearerAuth: []
  /atlas/v1/irp/{irp}/eway-bill/by-einvoice:
    post:
      tags:
      - Compliance Suite
      summary: Generate E-WayBill By Irn
      description: Generate EWB via IRN offers single EWB generation using this API.
      operationId: eas_basic_v1_generate_ewaybill_by_invoice
      _peer-api: /basic/einv/v3.0/ni1/eiewb/v1.03/ewaybill
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/3'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/4'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/5'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/6'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/7'
      - name: irp
        in: path
        required: true
        schema:
          type: string
          enum:
          - ni1
          - ni2
          example: ni1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Irn:
                  type: string
                  minLength: 64
                  maxLength: 64
                  description: Irn Number
                  example: 988610af33bfa7cf38114cd804d537d5b95e2cbe402962f8494ec3ff83992fc9
                TransId:
                  type: string
                  minLength: 15
                  maxLength: 15
                  pattern: ([0-9]{2}[0-9A-Z]{13})
                  description: Transin/GSTIN
                  example: 12AWGPV7107B1Z1
                TransName:
                  type: string
                  minLength: 3
                  maxLength: 100
                  pattern: ^([^\"])*$
                  description: Name of the transporter
                  example: trans name
                TransMode:
                  type: string
                  maxLength: 1
                  minLength: 1
                  enum:
                  - '1'
                  - '2'
                  - '3'
                  - '4'
                  pattern: ^([1-4]{1})?$
                  description: Mode of transport (Road-1, Rail-2, Air-3, Ship-4)
                  example: '1'
                Distance:
                  type: number
                  minimum: 0
                  maximum: 4000
                  description: Distance between source and destination PIN codes
                  example: '100'
                TransDocNo:
                  type: string
                  minLength: 1
                  maxLength: 15
                  pattern: ^([a-zA-Z0-9/-]{1,15})$
                  description: Transport Document Number
                  example: TRAN/DOC/11
                TransDocDt:
                  type: string
                  minLength: 10
                  maxLength: 10
                  pattern: ^[a-zA-Z0-9]{1}[a-zA-Z0-9-/]*$
                  description: Transport Document Date
                  example: 26/09/2023
                VehNo:
                  type: string
                  minLength: 4
                  maxLength: 20
                  pattern: ^([A-Z|a-z|0-9]{4,20})$
                  description: Vehicle Number
                  example: KA12ER1234
                VehType:
                  type: string
                  minLength: 1
                  maxLength: 1
                  enum:
                  - O
                  - R
                  pattern: ^([O|R]{1})$
                  description: 'Whether O-ODC or R-Regular '
                  example: R
                ExpShipDtls:
                  type: object
                  properties:
                    Addr1:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      description: Address1 of the entity to whom the supplies are shipped to. (Building/Flat no.,Road/Street etc.)
                      example: 7th block, kuvempu layout
                    Addr2:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      description: Address 2 of the entity to whom the supplies are shipped to. (Floor no., Name of the premises/building).
                      example: kuvempu layout
                    Loc:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      description: Place (City,Town,Village) entity to whom the supplies are shipped to.
                      example: Banagalore
                    Pin:
                      type: number
                      minimum: 100000
                      maximum: 999999
                      description: Pincode
                      example: '562160'
                    Stcd:
                      type: string
                      minLength: 1
                      maxLength: 2
                      pattern: ^(?!0+$)([0-9]{1,2})$
                      description: State Code to which supplies are shipped to. Refer the master
                      example: '29'
                  required:
                  - Addr1
                  - Loc
                  - Pin
                  - Stcd
                DispDtls:
                  type: object
                  properties:
                    Nm:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      description: Name of the company from which the goods are dispatched
                      example: ABC Company pvt ltd
                    Addr1:
                      type: string
                      minLength: 1
                      maxLength: 100
                      pattern: ^([^\"])*$
                      description: Address 1 of the entity from which goods are dispatched. (Building/Flat no.Road/Street etc.)
                      example: 7th block, kuvempu layout
                    Addr2:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      description: Address 2 of the entity from which goods are dispatched. (Floor no., Name of the premises/building)
                      example: kuvempu layout
                    Loc:
                      type: string
                      minLength: 3
                      maxLength: 100
                      pattern: ^([^\"])*$
                      description: Location
                      example: Banagalore
                    Pin:
                      type: number
                      minimum: 100000
                      maximum: 999999
                      description: Pincode
                      example: '562160'
                    Stcd:
                      type: string
                      minLength: 1
                      maxLength: 2
                      pattern: ^(?!0+$)([0-9]{1,2})$
                      description: State Code. Refer the master
                      example: '29'
                  required:
                  - Nm
                  - Addr1
                  - Loc
                  - Pin
                  - Stcd
              required:
              - Irn
              - Distance
              - TransId
      responses:
        '200':
          description: Successful Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                    example: '1'
                  data:
                    type: object
                    properties:
                      EwbNo:
                        description: E-way bill number
                        type: string
                        example: '131002251962'
                      EwbDt:
                        type: string
                        description: E-way bill date, when e-way bill was generated (DD/MM/YYYY HH:MM:SS AM/PM)
                        example: 13/07/2023 03:13:00 PM
                      EwbValidTill:
                        type: string
                        description: Validity of the E-way bill (DD/MM/YYYY HH:MM:SS AM/PM)
                        example: 14/07/2023 11:59:00 PM
                      Remarks:
                        type:
                        - string
                        - 'null'
                        description: Additional information such as, If distance is passed is 0, shows actual distance calculated for the pair of PIN codes
                        example: 'Total invoice value is more than the sum of total assessible value and tax values, '
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    example: null
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - data
        '400':
          description: Failure Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                  data:
                    type: 'null'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    type: object
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - error
        '403':
          description: Authorization information is missing or invalid.
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema'
      security:
      - BearerAuth: []
  /atlas/v1/irp/{irp}/einvoice/{irn}:
    get:
      tags:
      - Compliance Suite
      summary: Get E-Invoice by IRN
      description: Given an invoice reference number (IRN), you can get e-invoice details using this API.
      operationId: eas_basic_v1_fetch_invoice_get
      _peer-api: /basic/einv/v3.0/ni1/eicore/v1.03/Invoice/irn/0d7cd189815aefc5eb7f740fde7a52fdcd4cde2764fb14063abef22fd616d681
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/3'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/4'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/5'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/6'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/7'
      - name: irp
        in: path
        required: true
        schema:
          type: string
          enum:
          - ni1
          - ni2
          example: ni1
      - name: irn
        in: path
        required: true
        schema:
          type: string
          example: 9a36c874d574eda42385fd2796463577dbd66692e3b28a5301c88a1fe9429b91
      responses:
        '200':
          description: Successful Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                    example: '1'
                  data:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/responses/200/content/application~1json/schema/properties/data'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    example: null
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - data
        '400':
          description: Failure Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                  data:
                    type: 'null'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    type: object
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - error
        '403':
          description: Authorization information is missing or invalid.
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema'
      security:
      - BearerAuth: []
  /atlas/v1/irp/{irp}/einvoice/cancel:
    patch:
      tags:
      - Compliance Suite
      summary: Cancel E-Invoice
      description: Cancel IRN offers single e-invoice cancellation.
      operationId: eas_basic_v1_cancel_invoice
      _peer-api: /basic/einv/v3.0/ni1/eicore/v1.03/Invoice/Cancel
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/3'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/4'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/5'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/6'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/7'
      - name: irp
        in: path
        required: true
        schema:
          type: string
          enum:
          - ni1
          - ni2
          example: ni1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                IRN:
                  type: string
                  minLength: 64
                  maxLength: 64
                  description: Invoice Reference Number
                  example: 9a36c874d574eda42385fd2796463577dbd66692e3b28a5301c88a1fe9429b91
                CnlRsn:
                  type: string
                  minLength: 1
                  maxLength: 1
                  enum:
                  - '1'
                  - '2'
                  - '3'
                  - '4'
                  description: Cancel Reason 1- Duplicate, 2 - Data entry mistake, 3- Order Cancelled, 4 - Others
                  example: '1'
                CnlRem:
                  type: string
                  minLength: 0
                  maxLength: 100
                  description: Cancel Remarks
                  example: Wrong Entry
              required:
              - IRN
              - CnlRsn
      responses:
        '200':
          description: Successful Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                    example: '1'
                  data:
                    type: object
                    properties:
                      IRN:
                        $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1cancel/patch/requestBody/content/application~1json/schema/properties/IRN'
                      CancelDate:
                        type: string
                        description: Date of cancellation of the IRN
                        example: '2023-07-06 06:14:00'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    example: 'null'
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - data
        '400':
          description: Failure Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                  data:
                    type: 'null'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    type: object
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - error
        '403':
          description: Authorization information is missing or invalid.
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema'
      security:
      - BearerAuth: []
  /atlas/v1/irp/{irp}/einvoice/{irn}/pdf:
    get:
      tags:
      - Compliance Suite
      summary: E-Invoice PDF Download
      description: The E-Invoice PDF Download API streamlines the process of obtaining electronic invoices in PDF format programmatically. Users authenticate securely using methods like API keys or OAuth tokens. This API offers flexibility through customizable query parameters, allowing users to retrieve specific invoices based on criteria such as invoice number or date range. The output is standardized in the widely accepted PDF format, ensuring accessibility and consistency across platforms.
      operationId: eas_enriched_v1_download_invoice_pdf
      _peer-api: /enriched/einv/v1.0/ni1/invoices/download-pdf/9a36c874d574eda42385fd2796463577dbd66692e3b28a5301c88a1fe9429b91
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/4'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/5'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/6'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/7'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/3'
      - name: irp
        in: path
        required: true
        schema:
          type: string
          enum:
          - ni1
          - ni2
          example: ni1
      - name: irn
        in: path
        required: true
        schema:
          type: string
          example: 9a36c874d574eda42385fd2796463577dbd66692e3b28a5301c88a1fe9429b91
      responses:
        '200':
          description: Successful Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Failure Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                  data:
                    type: 'null'
                  error:
                    type:
                    - object
                    - 'null'
                    properties:
                      type:
                        type: string
                      message:
                        description: Message
                        type: string
                      args:
                        description: Args
                        type:
                        - object
                        - 'null'
                  info:
                    type: 'null'
                  additionalInfo:
                    type: 'null'
                  alert:
                    type: 'null'
        '403':
          description: Authorization information is missing or invalid.
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema'
      security:
      - BearerAuth: []
  /atlas/v1/eway/{ewb-provider}/eway-bill/{ewb-number}/pdf:
    get:
      tags:
      - Compliance Suite
      summary: Get E-way PDF
      description: By using this API, you can get the e-way bill PDF for an e-way bill Number.
      operationId: eas_enriched_v1_get_ewaybill_pdf
      _peer-api: /enriched/eway/v3.0/ew1/eway-bills/download-pdf/131002258398
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2'
      - $ref: '#/paths/~1atlas~1v1~1eway~1%7Bewb-provider%7D~1eway-bill/post/parameters/3'
      - $ref: '#/paths/~1atlas~1v1~1eway~1%7Bewb-provider%7D~1eway-bill/post/parameters/4'
      - $ref: '#/paths/~1atlas~1v1~1eway~1%7Bewb-provider%7D~1eway-bill/post/parameters/5'
      - $ref: '#/paths/~1atlas~1v1~1eway~1%7Bewb-provider%7D~1eway-bill/post/parameters/6'
      - $ref: '#/paths/~1atlas~1v1~1eway~1%7Bewb-provider%7D~1eway-bill/post/parameters/7'
      - required: true
        schema:
          type: string
          enum:
          - ew1
          - ew2
          example: ew1
        description: E-way bill provider
        name: ewb-provider
        in: path
      - required: true
        schema:
          type: string
          example: '131002251962'
        description: E-way bill number
        name: ewb-number
        in: path
      responses:
        '200':
          description: Successful Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Failure Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                  data:
                    type: 'null'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    type: object
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - error
        '403':
          description: Authorization information is missing or invalid.
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema'
      security:
      - BearerAuth: []
  /atlas/v1/irp/{irp}/eway-bill/bulk:
    post:
      tags:
      - Compliance Suite
      summary: Generate Bulk E-WayBill By Irn
      description: Generate Bulk EWB via IRN offers multiple EWB generation using this API.
      operationId: eas_enriched_v1_generate_bulk_ewaybill_by_invoice
      _peer-api: /enriched/einv/v3.0/ni1/invoices/generate-ewb
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/3'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/4'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/5'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/6'
      - $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/7'
      - name: irp
        in: path
        required: true
        schema:
          type: string
          enum:
          - ni1
          - ni2
          example: ni1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: array
                  items:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1eway-bill~1by-einvoice/post/requestBody/content/application~1json/schema'
                meta:
                  type: 'null'
                  example: null
              required:
              - payload
      responses:
        '200':
          description: Successful Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                    example: '1'
                  data:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/data'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    example: null
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - data
        '400':
          description: Failure Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                  data:
                    type: 'null'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    type: object
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - error
        '403':
          description: Authorization information is missing or invalid.
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema'
      security:
      - BearerAuth: []
  /atlas/v1/eway/{ewb-provider}/eway-bill:
    post:
      tags:
      - Compliance Suite
      summary: Create E-Way Bill
      description: Generate E-way Bill API is used to generate an E-way Bill using the given request payload.
      operationId: eas_basic_v1_generate_ewaybill
      _peer-api: /basic/eway/v3.0/ew1/v1.03/ewayapi/gen-ewb
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2'
      - name: X-FLYNN-N-EWB-GSP-CODE
        in: header
        required: true
        description: GSP Identifier
        schema:
          type: string
          enum:
          - vay
      - name: X-FLYNN-N-EWB-GSTIN
        in: header
        required: true
        description: GSTIN of the taxpayer
        schema:
          maxLength: 15
          example: 29HJKPS9689A8Z5
      - name: X-FLYNN-N-EWB-USERNAME
        in: header
        required: true
        description: Portal username associated with taxpayer GSTIN for the GSP, Non-sensitive
        schema:
          type: string
          example: test_24_001
      - name: X-FLYNN-N-EWB-PWD
        in: header
        required: false
        description: Portal password associated with GSTIN and Username for the GSP, Non-Sensitive. <br /> Provide either `X-FLYNN-N-EWB-PWD` or `X-FLYNN-S-EWB-PWD`
        schema:
          type: string
          example: Trial63$value
      - name: X-FLYNN-S-EWB-PWD
        in: header
        required: false
        description: Encrypted Portal password associated with GSTIN and Username for the GSP, Non-Sensitive.  <br /> Provide either `X-FLYNN-N-EWB-PWD` or `X-FLYNN-S-EWB-PWD` <br /> for encryption details see <a href='#secureEncryptionInEas'>S-REK<a/>
        schema:
          type: string
          example: Trial63$value
      - required: true
        schema:
          type: string
          enum:
          - ew1
          - ew2
          example: ew1
        description: E-way bill provider
        name: ewb-provider
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                supplyType:
                  type: string
                  maxLength: 1
                  minLength: 1
                  enum:
                  - O
                  - I
                  description: Supply Type
                  example: O
                subSupplyType:
                  type: string
                  description: Sub Supply Type
                  example: '1'
                subSupplyDesc:
                  type: string
                  maxLength: 20
                  description: Other Sub Supply Description
                  example: ''
                docType:
                  type: string
                  enum:
                  - INV
                  - CHL
                  - BIL
                  - BOE
                  - OTH
                  description: Document Type
                  example: INV
                docNo:
                  type: string
                  maxLength: 16
                  description: Document Number (Alphanumeric with / and - are allowed)
                  example: 7001-8
                docDate:
                  type: string
                  pattern: '[0-3][0-9]/[0-1][0-9]/[2][0][1-2][0-9]'
                  description: Document Date
                  example: 15/12/2017
                fromGstin:
                  type: string
                  maxLength: 15
                  minLength: 15
                  pattern: '[0-9]{2}[0-9|A-Z]{13}'
                  description: From GSTIN (Supplier or Consigner)
                  example: 27AAAPI3182M002
                fromTrdName:
                  type: string
                  maxLength: 100
                  description: From Trade Name (Consigner Trade name)
                  example: welton
                fromAddr1:
                  type: string
                  maxLength: 120
                  description: 'From Address Line 1 (Valid Special Chars #,-,/)'
                  example: 2ND CROSS NO 59  19  A
                fromAddr2:
                  type: string
                  maxLength: 120
                  description: 'From Address Line 2(Valid Special Chars # , - ,/)'
                  example: GROUND FLOOR OSBORNE ROAD
                fromPlace:
                  type: string
                  maxLength: 50
                  description: From Place
                  example: FRAZER TOWN
                actFromStateCode:
                  type: integer
                  maximum: 99
                  description: Actual From State Code
                  example: 29
[...]
