openapi: 3.2.0
info:
  title: Vayana API Documentation Verification Suite API
  version: 1.0.0
  description: To integrate these APIs please follow documentation
servers:
- url: https://s.api.one.vayana.com
  description: Sandbox Server
tags:
- name: Verification Suite
paths:
  /atlas/v1/gstin/{gstin}:
    get:
      tags:
      - Verification Suite
      summary: GSTIN Verification
      description: Search Taxpayer Detail API fetches all public information available with GSTN portal. This information was given during the time of GST Registration of the Taxpayer. All you need to check out the latest version which GSTN has released for the api for an environment (ie production and sandbox).
      operationId: eas_basic_v1_gstn_search_gstin
      _peer-api: /basic/gstn/v3.0/commonapi/v0.3/search?gstin=33AOZPD0347J5ZO&action=TP
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2'
      - name: X-FLYNN-N-GSTN-GSP-CODE
        in: header
        required: true
        description: GSP Identifier
        schema:
          type: string
          enum:
          - vay
      - required: true
        schema:
          type: string
          maxLength: 15
          example: 29HJKPS9689A8Z5
        description: GSTIN to search
        name: gstin
        in: path
      responses:
        '200':
          description: Successful Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                    example: '1'
                  data:
                    type: object
                    properties:
                      adadr:
                        items:
                          properties:
                            addr:
                              properties:
                                bnm:
                                  type: string
                                  description: Building Name
                                  example: ELPHINSTONE BUILDING
                                bno:
                                  type: string
                                  description: Building Number
                                  example: '10'
                                flno:
                                  type: string
                                  description: Floor number
                                  example: 1ST FLOOR
                                lg:
                                  type: string
                                  description: longitude
                                  example: '27.0238'
                                loc:
                                  type: string
                                  description: location
                                  example: FORT
                                lt:
                                  type: string
                                  description: lattitude
                                  example: '74.2179'
                                pncd:
                                  type: string
                                  description: Pincode
                                  example: '400001'
                                st:
                                  type: string
                                  description: Street Name
                                  example: 10, VEER NARIMAN ROAD
                                stcd:
                                  type: string
                                  description: State Name
                                  example: Rajasthan
                              type: object
                            ntr:
                              items:
                                type: string
                                description: Nature of Additional place of business
                                example: ' Wholesale Business'
                              type: array
                          type: object
                        type: array
                      pradr:
                        properties:
                          addr:
                            properties:
                              bnm:
                                type: string
                                description: Building Name
                                example: KATGARA HOUSE
                              bno:
                                type: string
                                description: Building Number
                                example: '5'
                              flno:
                                type: string
                                description: Floor Number
                                example: 4TH FLOOR
                              lg:
                                type: string
                                description: longitude
                                example: '27.0238'
                              loc:
                                type: string
                                description: Location
                                example: MALABAR HILL
                              lt:
                                type: string
                                description: lattitude
                                example: '74.2179'
                              pncd:
                                type: string
                                description: Pincode
                                example: '400006'
                              st:
                                type: string
                                description: Street Name
                                example: ' 15, L JAGMOHANDAS MARG'
                              stcd:
                                type: string
                                description: State Name
                                example: Maharashtra
                            type: object
                          ntr:
                            items:
                              type: string
                              description: Nature of pricipal place of Business
                              example: ' Wholesale Business'
                            type: array
                        type: object
                      ctb:
                        type: string
                        description: Constitution of Business
                        example: 'sole '
                      ctj:
                        type: string
                        description: Center Jurisdiction
                        example: Delhi
                      ctjCd:
                        type: string
                        description: Center Jurisdiction Code
                        example: AP004
                      cxdt:
                        type: string
                        description: Date Of Cancellation
                        example: NA
                      dty:
                        type: string
                        description: TaxPayer type
                        example: Casual
                      gstin:
                        type: string
                        description: GST Identification Number
                        example: 27ASJPC0786C3C7
                      einvoiceStatus:
                        type: string
                        description: eInvoice enablement status for GSTIN
                        example: 'Yes'
                      lgnm:
                        type: string
                        description: Legal name of the business
                        example: Vay Network Services Pvt Ltd
                      nba:
                        type:
                        - array
                        - 'null'
                        description: Nature of Business Activity
                        items:
                          type: string
                        example:
                        - Bonded Warehouse
                        - Factory / Manufacturing
                        - Input Service Distributor (ISD)
                        - Office / Sale Office
                      rgdt:
                        type: string
                        description: Date of Registration
                        example: 5/5/2017
                      stj:
                        type: string
                        description: State Jurisdiction
                        example: Karnataka
                      stjCd:
                        type: string
                        description: State Jurisdiction Code
                        example: AP003
                      sts:
                        type: string
                        description: GSTN status
                        example: Active
                      lstupdt:
                        type: string
                        format: Date
                        pattern: DD/MM/YYYY
                        description: Lst Updated Date
                        example: 5/1/2017
                      tradeNam:
                        type: string
                        description: trade Name
                        example: GSTN
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    example: null
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - data
        '400':
          description: Failure Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                  data:
                    type: 'null'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    type: object
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - error
        '403':
          description: Authorization information is missing or invalid.
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema'
      security:
      - BearerAuth: []
  /atlas/v1/gcs/bulk:
    post:
      tags:
      - Verification Suite
      summary: GCS Generate
      description: 'The Generate Good Compliance Score (GCS) API supports bulk score generation for multiple GSTINs (Max upto 50 GSTIN in single request). This is an asynchronous API and returns a `task-id` in the response upon successful submission. Use the returned task ID to track processing status via the Status API. Once the task completes, retrieve the result using the Get Result API.


        A successful Get Result response is shown below:


        ```json

        {

        "status": "1",

        "data": {

        "gstin": "29AAACT2727Q1ZS",

        "score": 462.5

        },

        "error": null,

        "info": null,

        "additionalInfo": null,

        "alert": null

        }

        ```'
      operationId: eas_enriched_v1_gcs_generate
      _peer-api: /enriched/gcs/v1.0/generate
      parameters:
      - name: X-ATLAS-ORG-ID
        description: Organization (ID) on behalf of which the request is made
        in: header
        required: true
        schema:
          type: string
          format: uuid
          example: ba4cf3fa-f0da-4764-b108-eca22098e7cb
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          example: application/json
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          example: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                gstins:
                  type: array
                  items:
                    type: string
                    minLength: 15
                    maxLength: 15
                    pattern: ([0-9]{2}[0-9A-Z]{13})
                    example: 26ABCMH0791G9ZI
                  example:
                  - 26ABCMH0791G9ZI
                  - 29AAACT2744Q1ZS
              required:
              - gstins
              example:
                gstins:
                - 26ABCMH0791G9ZI
                - 29AAACT2744Q1ZS
      responses:
        '200':
          description: Successful Response
          headers:
            X-ATLAS-CALL-ID:
              name: X-ATLAS-CALL-ID
              description: A unique Identifier for your request
              in: header
              required: true
              schema:
                type: string
                format: uuid
            X-CALL-ID:
              name: X-CALL-ID
              in: header
              required: true
              description: unique id
              schema:
                type: string
                example: 395b8578-7439-44e9-a51a-c5e23b8e01b5
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                    example: '1'
                  data:
                    type:
                    - object
                    properties:
                      task-id:
                        type: string
                        format: uuid
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    example: null
                  info:
                    example: null
                    type:
                    - object
                    - 'null'
                  additionalInfo:
                    example: null
                    type:
                    - object
                    - 'null'
                    properties:
                      key:
                        type:
                        - object
                        - 'null'
                      pdf:
                        type:
                        - string
                        - 'null'
                      details:
                        type:
                        - object
                        - 'null'
                  alert:
                    example: null
                    type:
                    - string
                    - 'null'
                required:
                - status
                - data
        '400':
          description: Failure Response
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Status indicates positive(1) or error response(0)
                    enum:
                    - '0'
                    - '1'
                  data:
                    type: 'null'
                  error:
                    $ref: '#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error'
                    type: object
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - error
        '403':
          description: Authorization information is missing or invalid.
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
            X-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status'
                  data:
                    type: 'null'
                    example: 'null'
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                        example: Authorization
                      message:
                        type: string
                        example: err-invalid-org
                      args:
                        type:
                        - object
                        - 'null'
                  info:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info'
                    example: null
                  additionalInfo:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo'
                    example: null
                  alert:
                    $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert'
                    example: null
                required:
                - status
                - error
      security:
      - BearerAuth: []
  /atlas/v1/aadhaar/{aadharNumber}:
    get:
      tags:
      - Verification Suite
      summary: Place an Aadhaar Data request
      description: Place an Aadhaar data request and and get verified data
      operationId: rubix_post_kyc_aadhar
      _peer-api: /kyc/v2/aadhar
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - name: aadharNumber
        in: path
        description: Aadhar Number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      aadhar_number:
                        type: string
                      gender:
                        type: string
                      masked_mobile_number:
                        type: string
                      age_band:
                        type: string
                      state:
                        type: string
                    example:
                      aadhar_number: '123456789101'
                      gender: MALE
                      masked_mobile_number: '*******123'
                      age_band: 30-40
                      state: Maharashtra
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
                required:
                - message
                - results
                - agency_signature
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
                x-examples:
                  Example 1:
                    message: 'Missing required request parameters: [aadharNumber]'
              examples:
                Example 1:
                  value:
                    message: 'Missing required request parameters: [aadharNumber]'
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
      x-stoplight:
        id: cquklno3h6z7p
  /atlas/v1/pan/{pan}:
    parameters: []
    get:
      tags:
      - Verification Suite
      summary: Place a PAN data request
      description: Place a PAN data request and get verified data
      operationId: rubix_post_kyc_v2_pan
      _peer-api: /kyc/v2/pan
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - name: pan
        in: path
        description: PAN of the company
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      pan:
                        type: string
                      name:
                        type: string
                      status:
                        type: string
                    example:
                      pan: AAAAA1234A
                      name: ABC Company
                      status: PAN is Active and the details are matching with PAN database
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
                required:
                - message
                - results
                - agency_signature
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
                x-examples:
                  Example 1:
                    message: 'Missing required request parameters: [pan]'
              examples:
                '400':
                  value:
                    message: 'Missing required request parameters: [pan]'
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
      x-stoplight:
        id: n066q0rwk4obf
  /atlas/v1/pan/{pan}/details:
    get:
      tags:
      - Verification Suite
      summary: Place a detailed PAN Data request
      description: Place a detailed PAN data request and get verified data
      operationId: rubix_post_kyc_pan_detailed
      _peer-api: /kyc/v2/pan/detailed
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - name: pan
        in: path
        description: PAN Number of the company
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      name:
                        type: string
                      adhaar:
                        type: string
                      pan:
                        type: string
                      address:
                        type: string
                      city:
                        type: string
                      pincode:
                        type: string
                      state:
                        type: string
                      country:
                        type: string
                      dob:
                        type: string
                      gender:
                        type: string
                    example:
                      name: ABC Company
                      adhaar: ''
                      pan: AAAAA1234A
                      address: D 424 NEELKANTH BUSINESS PARK, NATHANI ROAD, VIDYAVIHAR WEST, MUMBAI - 400086, MAHARASHTRA
                      city: Mumbai
                      pincode: '400086'
                      state: Maharashtra
                      country: India
                      dob: 03-05-2010
                      gender: ''
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
                required:
                - message
                - results
                - agency_signature
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
      x-stoplight:
        id: 9snql1l0qj67h
  /atlas/v1/tan/{tanNumber}:
    get:
      tags:
      - Verification Suite
      summary: Place a TAN data request
      description: Place a TAN data request and get verified data and get verified data
      operationId: rubix_post_kyc_tan
      _peer-api: /kyc/v2/tan
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - name: tanNumber
        in: path
        description: Tan Number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      name:
                        type: string
                      tanNumber:
                        type: string
                    example:
                      name: ABC Company
                      tanNumber: ABCD12345A
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
                required:
                - message
                - results
                - agency_signature
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
      x-stoplight:
        id: az4vcxifhsd3w
  /atlas/v1/bankAccount/{ifsc}/{accountNumber}:
    get:
      tags:
      - Verification Suite
      summary: Place a bank account details request
      description: Place a Bank Account details request and get verified data
      operationId: rubix_post_kyc_bankAccount
      _peer-api: /kyc/v2/bankAccount
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - name: accountNumber
        in: path
        required: true
        schema:
          type: string
      - name: ifsc
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      utr:
                        type: string
                      city:
                        type: string
                      account_holder_name:
                        type: string
                      micr:
                        type: string
                      bank_name:
                        type: string
                      account_number:
                        type: string
                      ifsc:
                        type: string
                      branch:
                        type: string
                    example:
                      utr: '123456789012'
                      city: MUMBAI
                      account_holder_name: Holder name
                      micr: '0'
                      bank_name: ABC BANK
                      account_number: '12345678901234'
                      ifsc: ABCC0001234
                      branch: VIDYAVIHAR WEST
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
                required:
                - message
                - results
                - agency_signature
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
                x-examples:
                  Example 1:
                    message: 'Missing required request parameters: [iec, name]'
              examples:
                Example 1:
                  value:
                    message: 'Missing required request parameters: [accountNumber, ifsc]'
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
      x-stoplight:
        id: t7y278sp795rn
  /atlas/v1/fssaiCertificate/{licenseNumber}:
    get:
      tags:
      - Verification Suite
      summary: Place a Fssai Certificate details request
      description: Place a Fssai Certificate details request and get verified data
      operationId: fssaiCertificate
      _peer-api: /kyc/v2/fssaiCertificate
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - name: licenseNumber
        in: path
        description: License Number of Fssai Certificate
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      license_number:
                        type: string
                      entity_name:
                        type: string
                      status:
                        type: string
                      license_type:
                        type: string
                      address:
                        type: string
                      state:
                        type: string
                      list_of_products:
                        type: string
                    example:
                      license_number: '123456789012'
                      entity_name: ABC Company
                      status: ACTIVE
                      license_type: STATE LICENSE
                      address: MUMBAI,MAHARASHTRA-400012
                      state: MAHARASHTRA
                      list_of_products: ' DAIRY PRODUCTS AND ANALOGUES, EXCLUDING PRODUCTS OF FOOD CATEGORY ,  FRUITS AND VEGETABLES (INCLUDING MUSHROOMS AND FUNGI, ROOTS AND TUBERS, FRESH PULSES AND LEGUMES, AND ALOE VERA), SEAWEEDS, AND NUTS AND SEEDS,  MEAT AND MEAT PRODUCTS, INCLUDING POULTRY AND GAME,  EGGS AND EGG PRODUCTS,  SALTS, SPICES, SOUPS, SAUCES, SALADS AND PROTEIN PRODUCTS,  BEVERAGES, EXCLUDING DAIRY PRODUCTS'
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
                required:
                - message
                - results
                - agency_signature
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
      x-stoplight:
        id: xk9c5y0dtltqz
  /atlas/v1/vehicleNumber/{vehicleNumber}:
    get:
      tags:
      - Verification Suite
      summary: Place a Vehicle Number details request
      description: Place a Vehicle Number details request and get verified data
      operationId: rubix_post_kyc_vehicleNumber
      _peer-api: /kyc/v2/vehicleNumber
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - name: vehicleNumber
        in: path
        description: Vehicle Registration Certificate Number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      vehicle_number:
                        type: string
                      owner_name:
                        type: string
                      registration_date:
                        type: string
                      chasis_number:
                        type: string
                      engine_number:
                        type: string
                      fuel_type:
                        type: string
                      vehicle_class:
                        type: string
                      maker_name:
                        type: string
                      model:
                        type: string
                      insurance_upto:
                        type: string
                      pollution_expiry:
                        type: string
                      fitness_upto:
                        type: string
                      blackList_status:
                        type: string
                      rc_status:
                        type: string
                      permanent_address:
                        type: string
                      insurance_company:
                        type: string
                      insurance_policy_number:
                        type: string
                      vehicle_category_description:
                        type: string
                      puc_number:
                        type: string
                      permit_number:
                        type: string
                      permit_valid_from:
                        type: string
                      permit_valid_upto:
                        type: string
                      permit_type:
                        type: string
                      national_permit_number:
                        type: string
                      national_permit_upto:
                        type: string
                      national_permit_issued_by:
                        type: string
                      challan_details:
                        type: string
                    example:
                      vehicle_number: AB12CD1234
                      owner_name: ABC surname
                      registration_date: 01-06-2020
                      chasis_number: AB1ABCDE1AB123456
                      engine_number: A-123*12345*
                      fuel_type: PETROL
                      vehicle_class: 2WN
                      maker_name: ABC AUTO LTD
                      model: ABC 800
                      insurance_upto: 15-06-2025
                      pollution_expiry: 23-07-2024
                      fitness_upto: 18-09-2035
                      blackList_status: ''
                      rc_status: ACTIVE
                      permanent_address: A 1234 ABC, PHASE 1 DOMBIVALI EAST, Thane-421204
                      insurance_company: ABC INSURANCE CO. LTD.
                      insurance_policy_number: '12345678901200000'
                      vehicle_category_description: M-Cycle/Scooter(2WN)
                      puc_number: AB01234567890123
                      permit_number: ''
                      permit_valid_from: ''
                      permit_valid_upto: ''
                      permit_type: ''
                      national_permit_number: ''
                      national_permit_upto: ''
                      national_permit_issued_by: ''
                      challan_details: ''
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
                required:
                - message
                - results
                - agency_signature
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
      x-stoplight:
        id: wdh2pmjjpp36z
  /atlas/v1/challan/{last5DigitsOfChasisNo}/{vehicleNumber}:
    get:
      tags:
      - Verification Suite
      summary: Place a Challan data request
      description: Place a Challan data request and get verified data
      operationId: rubix_post_kyc_v2_challan
      _peer-api: /kyc/v2/challan
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - name: vehicleNumber
        in: path
        description: Vehicle number
        required: true
        schema:
          type: string
      - name: last5DigitsOfChasisNo
        in: path
        description: Last 5 digits of chasis number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      challan_list:
                        type: array
                        items:
                          type: object
                          properties:
                            number:
                              type: integer
                            challanNumber:
                              type: string
                            offenseDetails:
                              type: string
                            challanDate:
                              type: string
                            accusedName:
                              type: string
                            amount:
                              type: integer
                            challanStatus:
                              type: string
                    example:
                      message: null
                      results:
                        challan_list:
                        - number: 1
                          challanNumber: MH11314523120******7
                          offenseDetails: Custom offence 1
                          challanDate: '2023-12-08 21:30:10'
                          accusedName: ABC
                          amount: 1000
                          challanStatus: Disposed
                        - number: 2
                          challanNumber: MH10749123120******5
                          offenseDetails: Reflectors not fitted
                          challanDate: '2023-12-04 14:00:02'
                          accusedName: ABC
                          amount: 1000
                          challanStatus: Pending
                      agency_signature:
                        agency_name: Rubix Data Sciences Private Limited
                        agency_contact: '+912249744274'
                        agency_website: https://rubixds.com
                        agency_address: D - 424, Neelkanth Business Park, Vidyavihar (West), Mumbai 400086, India
                        agency_gst: 27AAICR5957Q1ZC
                        agency_email: info@rubixds.com
                        disclaimer: https://rubixds.com/rubix-api-service-disclaimer
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
              examples:
                '400':
                  value:
                    message: 'Missing required request parameters: [vehicleNumber]'
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
      x-stoplight:
        id: uiekod51yrfat
  /atlas/v1/drivingLicence/{dlNumber}:
    get:
      tags:
      - Verification Suite
      summary: Place a Driving Licence details request
      description: Place a Driving Licence details request and get and get verified data
      operationId: rubix_post_kyc_v2_drivingLicence
      _peer-api: /kyc/v2/drivingLicence
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - name: dlNumber
        in: path
        description: Driving Licence Number
        required: true
        schema:
          type: string
      - name: dob
        in: query
        description: Date of Birth
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      dob:
                        type: string
                      name:
                        type: string
                      address:
                        type: string
                      valid_to_date:
                        type: string
                      valid_from_date:
                        type: string
                      class_of_vehicle:
                        type: string
                      father_or_husband_name:
                        type: string
                      driving_licence_number:
                        type: string
                    example:
                      message: null
                      results:
                        dob: 01/01/1982
                        name: Mr A
                        address: FLAT NO.06, MUMBAI, 400001
                        valid_to_date: 13/10/2031
                        valid_from_date: 14/10/2011
                        class_of_vehicle: 'LMV    '
                        father_or_husband_name: Mr R
                        driving_licence_number: MH3120110000000
                      agency_signature:
                        agency_name: Rubix Data Sciences Private Limited
                        agency_contact: '+912249744274'
                        agency_website: https://rubixds.com
                        agency_address: D - 424, Neelkanth Business Park, Vidyavihar (West), Mumbai 400086, India
                        agency_gst: 27AAICR5957Q1ZC
                        agency_email: info@rubixds.com
                        disclaimer: https://rubixds.com/rubix-api-service-disclaimer
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
              examples:
                '400':
                  value:
                    message: 'Missing required request parameters: [dlNumber]'
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
      x-stoplight:
        id: n42dq1pww7py1
  /atlas/v1/mca/{cin}:
    get:
      tags:
      - Verification Suite
      summary: Place a MCA Data request
      description: Place the request for fetching MCA data on the basis of CIN and get verified data
      operationId: rubix_post_kyc_v2_mca
      _peer-api: /kyc/v2/mca
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - name: cin
        in: path
        description: CIN of the company
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      company_info:
                        type: object
                        properties:
                          mca_name:
                            type: string
                          mca_cin:
                            type: string
                          mca_roc:
                            type: string
                          mca_registration_number:
                            type: string
                          company_address:
                            type: string
                          other_address:
                            type: string
                          class_of_company:
                            type: string
                          company_category:
                            type: string
                          sub_category:
                            type: string
                          company_status:
                            type: string
                          mca_status:
                            type: string
                          date_of_incorporation:
                            type: string
                          listing_status:
                            type: string
                          number_of_members:
                            type: string
                          suspended_at_stock_exchange:
                            type: string
                          date_of_last_balance_sheet:
                            type: string
                          date_of_last_annual_general_meeting:
                            type: string
                          authorized_capital:
                            type: string
                          paid_up_capital:
                            type: string
                          company_email:
                            type: string
                      director_info:
                        type: object
                        properties:
                          current_director:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                designation:
                                  type: string
                                date_of_appointment:
                                  type: string
                                din_pan:
                                  type: string
                      index_of_charges:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            srn:
                              type: string
                            charge_id:
                              type: string
                            charge_holder_name:
                              type: string
                            date_of_creation:
                              type: string
                            date_of_modification:
                              type: string
                            date_of_satisfaction:
                              type: string
                            amount:
                              type: string
                    example:
                      message: null
                      results:
                        company_info:
                          mca_name: ABC Company
                          mca_cin: A12345AB2017ABC123456
                          mca_roc: RoC-Mumbai
                          mca_registration_number: '123456'
                          company_address: Mumbai
                          other_address: '-'
                          class_of_company: Public
                          company_category: Company limited by Shares
                          sub_category: Non-govt company
                          company_status: Active
                          mca_status: ACTIVE compliant
                          date_of_incorporation: 01-Oct-2010
                          listing_status: Listed
                          number_of_members: '100'
                          suspended_at_stock_exchange: '-'
                          date_of_last_balance_sheet: 31-Mar-2022
                          date_of_last_annual_general_meeting: 01-Jun-2022
                          authorized_capital: '500000'
                          paid_up_capital: '50000'
                          company_email: info@rubixds.com
                        director_info:
                          current_director:
                          - name: ABC DEFG
                            designation: Director
                            date_of_appointment: 30/06/2022
                            din_pan: '01234567'
                          - name: DEF GHI
                            designation: Director
                            date_of_appointment: 30/06/2014
                            din_pan: 01234578
                        index_of_charges:
                        - id: '1'
                          srn: A0123456
                          charge_id: '12345678'
                          charge_holder_name: ABC Company
                          date_of_creation: 08-05-2003
                          date_of_modification: 25-02-2005
                          date_of_satisfaction: 05-10-2007
                          amount: '1230000'
                      agency_signature:
                        agency_name: Rubix Data Sciences Private Limited
                        agency_contact: '+912249744274'
                        agency_website: https://rubixds.com
                        agency_address: D - 424, Neelkanth Business Park, Vidyavihar (West), Mumbai 400086, India
                        agency_gst: 27AAICR5957Q1ZC
                        agency_email: info@rubixds.com
                        disclaimer: https://rubixds.com/rubix-api-service-disclaimer
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
              examples:
                '400':
                  value:
                    message: 'Missing required request parameters: [cin]'
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
      x-stoplight:
        id: 15d7606o5cm2t
  /atlas/v1/voterId/{state}/{voterIdNumber}:
    get:
      tags:
      - Verification Suite
      summary: Place a Voter Id details request
      description: Place a Voter Id details request and get verified data
      operationId: rubix_post_kyc_v2_voterId
      _peer-api: /kyc/v2/voterId
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - name: voterIdNumber
        in: path
        required: true
        schema:
          type: string
      - name: state
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      dob:
                        type: string
                      name:
                        type: string
                      state:
                        type: string
                      gender:
                        type: string
                      district:
                        type: string
                      father_name:
                        type: string
                      voter_id_number:
                        type: string
                    example:
                      message: null
                      results:
                        dob: ''
                        name: Mr A
                        state: MAHARASHTRA
                        gender: Male
                        district: Mumbai
                        father_name: Mr R
                        voter_id_number: YKB7226000
                      agency_signature:
                        agency_name: Rubix Data Sciences Private Limited
                        agency_contact: '+912249744274'
                        agency_website: https://rubixds.com
                        agency_address: D - 424, Neelkanth Business Park, Vidyavihar (West), Mumbai 400086, India
                        agency_gst: 27AAICR5957Q1ZC
                        agency_email: info@rubixds.com
                        disclaimer: https://rubixds.com/rubix-api-service-disclaimer
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
              examples:
                '400':
                  value:
                    message: 'Missing required request parameters: [voterIdNumber]'
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
      x-stoplight:
        id: o4r9huclt40sm
  /atlas/v1/shopEstablishment/{state}/{registrationNumber}:
    get:
      tags:
      - Verification Suite
      summary: Place a Shop & Establishment details request
      description: 'Place a Shop Establishment details request and get verified data.

        .


        Note : For Shop Establishment, the following states work:


        1. West Bengal

        2. Telangana

        3. Uttar Pradesh

        4. Rajasthan

        5. Haryana

        6. Delhi

        7. Maharashtra

        8. Karnataka

        9. Jharkhand

        10. Madhya Pradesh

        11. Jammu Kashmir


        If you pass Maharashtra in the state, then an additional field needs to be updated with one of the following Values:


        1. Shop I

        2. Commercial II

        3. Restaurant and Eating House IV

        4. Residential Hotel III

        5. Theatre - Public Amusement V'
      operationId: rubix_post_kyc_v2_shopEstablishment
      _peer-api: /kyc/v2/shopEstablishment
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - name: registrationNumber
        in: path
        description: Registration Number of Shop Establishment
        required: true
        schema:
          type: string
      - name: state
        in: path
        description: state
        required: true
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      name:
                        type: string
                      email:
                        type: string
                      state:
                        type: string
                      address:
                        type: string
                      category:
                        type: string
                      contact_number:
                        type: string
                      manager_name:
                        type: string
                      occupier_name:
                        type: string
                      total_workers:
                        type: string
                      business_nature:
                        type: string
                      registration_date:
                        type: string
                      total_male_workers:
                        type: string
                      date_of_commencement:
                        type: string
                      total_young_workers:
                        type: string
                      registration_number:
                        type: string
                      total_female_workers:
                        type: string
                      total_family_members_working:
                        type: string
                    example:
                      message: null
                      results:
                        name: ABC Company
                        email: ABC@GMAIL.COM
                        state: Delhi
                        address: FLAT NO.2, NEW DELHI, DELHI. PIN-110001
                        category: COMMERCIAL ESTABLISHMENT
                        contact_number: '9999999999'
                        manager_name: MR. A
                        occupier_name: MR. A
                        total_workers: '3'
                        business_nature: REPAIRING
                        registration_date: 24/10/2017
                        total_male_workers: '0'
                        date_of_commencement: 12/10/2017
                        total_young_workers: '2'
                        registration_number: '2017086000'
                        total_female_workers: '1'
                        total_family_members_working: '0'
                      agency_signature:
                        agency_name: Rubix Data Sciences Private Limited
                        agency_contact: '+912249744274'
                        agency_website: https://rubixds.com
                        agency_address: D - 424, Neelkanth Business Park, Vidyavihar (West), Mumbai 400086, India
                        agency_gst: 27AAICR5957Q1ZC
                        agency_email: info@rubixds.com
                        disclaimer: https://rubixds.com/rubix-api-service-disclaimer
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
              examples:
                '400':
                  value:
                    message: 'Missing required request parameters: [registrationNumber]'
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
      x-stoplight:
        id: h5jhy14rftj7z
  /atlas/v1/mcaInstant:
    get:
      tags:
      - Verification Suite
      summary: MCA - Instant
      description: 'Get MCA data of a counterparty on the basis of CIN or CounterpartyId.


        CounterpartyId can be fetched using the Counterparty Search API. Checkout /indian/search or /international/search API endpoints.


        Note: Either CIN or CounterpartyId is mandatory (Cannot provide both the parameters)


        Disclaimer: This API provides MCA face data which is available in our database. It may not be the most latest data. In order to request for latest MCA data, please check /mca API endpoint.'
      operationId: rubix_get_kyc_v1_mcaInstant
      _peer-api: v1/kyc/mcaInstant
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          example: application/json
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          example: application/json
      - schema:
          type: string
        in: query
        name: counterpartyId
        description: ID of the counterparty
      - schema:
          type: string
        in: query
        name: cin
        description: CIN of the counterparty
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    example: null
                    type:
                    - string
                    - 'null'
                  results: {}
                  agency_signature:
                    type:
                    - object
                    properties:
                      agency_email:
                        type:
                        - string
                        - 'null'
                        example: info@rubixds.com
                      agency_address:
                        type:
                        - string
                        - 'null'
                        example: D - 424, Neelkanth Business Park, Vidyavihar (West), Mumbai 400086, India
                      agency_contact:
                        type:
                        - string
                        - 'null'
                        example: '+912249744274'
                      agency_website:
                        type:
                        - string
                        - 'null'
                        example: https://rubixds.com
                      agency_name:
                        type:
                        - string
                        - 'null'
                        example: Rubix Data Sciences Private Limited
                      disclaimer:
                        type:
                        - string
                        - 'null'
                        example: https://rubixds.com/rubix-api-service-disclaimer
                      agency_gst:
                        type:
                        - string
                        - 'null'
                        example: 27AAICR5957Q1ZC
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
              examples:
                '400':
                  value:
                    message: 'Missing required request parameters: [counterpartyId]'
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
  /atlas/v1/aadhaarConsent-async/{aadharNumber}:
    get:
      tags:
      - Verification Suite
      summary: 1. Place consent based aadhaar data request
      description: Place consent based Aadhaar data request and get reference ID. To get data use the reference ID in /atlas/v1/aadhaarConsent-async/result/{referenceId} endpoint
      operationId: rubix_post_kyc_v1_aadhar_consent
      _peer-api: v1/kyc/aadhar/consent
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - schema:
          type: string
        in: path
        name: aadharNumber
        description: Aadhar number
        required: true
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    $ref: '#/paths/~1atlas~1v1~1epf-async~1%7BepfNumber%7D/get/responses/200/content/application~1json/schema/properties/results'
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
              examples:
                '400':
                  value:
                    message: 'Missing required request parameters: [aadharNumber]'
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
  /atlas/v1/aadhaarConsent-async/result/{referenceId}/{otp}:
    get:
      tags:
      - Verification Suite
      summary: 2. Get Aadhar Data
      description: Retrieve the consent based Aadhar data using the referenceId and OTP
      operationId: rubix_get_kyc_v1_aadhar_consent
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - schema:
          type: string
        in: path
        name: referenceId
        required: true
        description: Reference Id received in POST call
      - schema:
          type: string
        in: path
        name: otp
        description: OTP recevied on mobile number
        required: true
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      full_name:
                        type: string
                      aadhar_number:
                        type: string
                      dob:
                        type: string
                      gender:
                        type: string
                      pincode:
                        type: string
                      address:
                        type: string
                      country:
                        type: string
                      state:
                        type: string
                      city:
                        type: string
                      profile_image:
                        type: string
                    example:
                      message: null
                      results:
                        full_name: Rubix Data Sciences
                        aadhar_number: 12345XXXXXXXX
                        dob: '1991-09-20'
                        gender: M
                        pincode: '400001'
                        address: xxxxx, Mumbai
                        country: India
                        state: Maharashtra
                        city: xxxxx
                        profile_image: QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL
                      agency_signature:
                        agency_name: Rubix Data Sciences Private Limited
                        agency_contact: '+912249744274'
                        agency_website: https://rubixds.com
                        agency_address: D - 424, Neelkanth Business Park, Vidyavihar (West), Mumbai 400086, India
                        agency_gst: 27AAICR5957Q1ZC
                        agency_email: info@rubixds.com
                        disclaimer: https://rubixds.com/rubix-api-service-disclaimer
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: Invalid referenceId
                required:
                - message
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
  /atlas/v1/panGstLink-async/{pan}:
    get:
      tags:
      - Verification Suite
      summary: 1. Place a Pan Gst Link details request
      description: Place a Pan Gst Link details request and get reference ID. To get data use the reference ID in /atlas/v1/panGstLink-async/result/{referenceId} endpoint
      operationId: rubix_post_kyc_v1_panGstLink
      _peer-api: v1/kyc/panGstLink
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - schema:
          type: string
        in: path
        name: pan
        required: true
        description: Pan Number for pan gst link
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    $ref: '#/paths/~1atlas~1v1~1epf-async~1%7BepfNumber%7D/get/responses/200/content/application~1json/schema/properties/results'
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
              examples:
                '400':
                  value:
                    message: 'Missing required request parameters: [pan]'
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
      x-stoplight:
        id: qmk9t232fr0l3
  /atlas/v1/panGstLink-async/result/{referenceId}:
    get:
      tags:
      - Verification Suite
      summary: 2. Get Pan Gst Link details
      description: Retrieve the Pan Gst Link details using the referenceId received while placing the Pan gst Link details request
      operationId: rubix_get_kyc_v1_panGstLink
      _peer-api: v1/kyc/panGstLink
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - schema:
          type: string
        in: path
        name: referenceId
        description: ReferenceId received in POST call
        required: true
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      pan_number:
                        type: string
                      gst_list:
                        type: array
                        items:
                          type: object
                          properties:
                            gst_number:
                              type: string
                            status:
                              type: string
                    example:
                      message: null
                      results:
                        properties:
                          pan_number:
                            type: string
                          gst_list:
                            type: array
                            items:
                              type: object
                              properties:
                                gst_number:
                                  type: string
                                status:
                                  type: string
                      agency_signature:
                        agency_name: Rubix Data Sciences Private Limited
                        agency_contact: '+912249744274'
                        agency_website: https://rubixds.com
                        agency_address: D - 424, Neelkanth Business Park, Vidyavihar (West), Mumbai 400086, India
                        agency_gst: 27AAICR5957Q1ZC
                        agency_email: info@rubixds.com
                        disclaimer: https://rubixds.com/rubix-api-service-disclaimer
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
              examples:
                Example 1:
                  value:
                    message: null
                    results:
                      pan_number: ABUFS6967K
                      gst_list:
                      - gst_number: 29ABUFS6967K1ZV
                        status: Inactive
                      - gst_number: 27ABUFS6967K1ZZ
                        status: Active
                    agency_signature:
                      agency_name: Rubix Data Sciences Private Limited
                      agency_contact: '+912249744274'
                      agency_website: https://rubixds.com
                      agency_address: D - 424, Neelkanth Business Park, Vidyavihar (West), Mumbai 400086, India
                      agency_gst: 27AAICR5957Q1ZC
                      agency_email: info@rubixds.com
                      disclaimer: https://rubixds.com/rubix-api-service-disclaimer
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: Invalid referenceId
                required:
                - message
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
      x-stoplight:
        id: rzedllwi1vzv0
  /atlas/v1/passport-async/{fileNumber}:
    get:
      tags:
      - Verification Suite
      summary: 1. Place passport data request
      operationId: rubix_post_kyc_v1_passport
      _peer-api: v1/kyc/passport
      description: Place a Passport data request and get reference ID. To get data use the reference ID in /atlas/v1/passport-async/result/{referenceId} endpoint
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - schema:
          type: string
        in: path
        name: fileNumber
        required: true
        description: File Number of the passport application
      - schema:
          type: string
        in: query
        name: dateOfBirth
        description: Date of birth in dd/mm/yyyy format (e.g. 20/01/1994)
        required: true
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    $ref: '#/paths/~1atlas~1v1~1epf-async~1%7BepfNumber%7D/get/responses/200/content/application~1json/schema/properties/results'
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
              examples:
                '400':
                  value:
                    message: 'Missing required request parameters: [fileNumber]'
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
  /atlas/v1/passport-async/result/{referenceId}:
    get:
      tags:
      - Verification Suite
      summary: 2. Get passport data
      description: Retrieve the Passport data using the referenceId received while placing the Passport data request
      operationId: rubix_get_kyc_v1_passport
      _peer-api: v1/kyc/passport
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - schema:
          type: string
        in: path
        name: referenceId
        required: true
        description: ReferenceId received in POST call
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    type:
                    - object
                    - 'null'
                    properties:
                      file_number:
                        type: string
                      passort_number:
                        type: string
                      name:
                        type: string
                      date_of_birth:
                        type: string
                      dispatch_date:
                        type: string
                    example:
                      message: null
                      results:
                        file_number: ABCD02108711
                        passort_number: A123456
                        name: RUBIX DATA SCIENCES
                        date_of_birth: 20/01/1994
                        dispatch_date: 16/12/2022
                      agency_signature:
                        agency_name: Rubix Data Sciences Private Limited
                        agency_contact: '+912249744274'
                        agency_website: https://rubixds.com
                        agency_address: D - 424, Neelkanth Business Park, Vidyavihar (West), Mumbai 400086, India
                        agency_gst: 27AAICR5957Q1ZC
                        agency_email: info@rubixds.com
                        disclaimer: https://rubixds.com/rubix-api-service-disclaimer
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: Invalid referenceId
                required:
                - message
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
  /atlas/v1/udyog-async/{udyogNumber}:
    get:
      tags:
      - Verification Suite
      summary: 1. Place Udyog data request
      operationId: rubix_post_kyc_v1_udyog
      _peer-api: v1/kyc/udyog
      description: Place a Udyog data request and get reference ID. To get data use the reference ID in /atlas/v1/udyog-async/result/{referenceId} endpoint
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - schema:
          type: string
        in: path
        name: udyogNumber
        description: Udyog Number
        required: true
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                  results:
                    $ref: '#/paths/~1atlas~1v1~1epf-async~1%7BepfNumber%7D/get/responses/200/content/application~1json/schema/properties/results'
                  agency_signature:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/agency_signature'
        '400':
          description: Bad Request
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/responses/200/content/application~1json/schema/properties/message'
                    example: null
                required:
                - message
              examples:
                '400':
                  value:
                    message: 'Missing required request parameters: [udyogNumber]'
        '401':
          description: Unauthorized
      security:
      - BearerAuth: []
  /atlas/v1/udyog-async/result/{referenceId}:
    get:
      tags:
      - Verification Suite
      summary: 2. Get Udyog Data
      description: Retrieve the Udyog data using the referenceId received while placing the Udyog data request
      operationId: rubix_get_kyc_v1_udyog
      _peer-api: v1/kyc/udyog
      parameters:
      - $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/1'
      - $ref: '#/paths/~1atlas~1v1~1mcaInstant/get/parameters/2'
      - schema:
          type: string
        in: path
        name: referenceId
        description: ReferenceId received in POST call
        required: true
      responses:
        '200':
          description: OK
          headers:
            X-ATLAS-CALL-ID:
              $ref: '#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
[...]
