{
  "openapi": "3.1.0",
  "info": {
    "title": "Vayana API Documentation",
    "version": "1.0.0",
    "description": "To integrate these APIs please follow documentation"
  },
  "servers": [
    {
      "url": "https://s.api.one.vayana.com",
      "description": "Sandbox Server"
    }
  ],
  "paths": {
    "/atlas/v1/gstin/{gstin}": {
      "get": {
        "tags": [
          "Verification Suite"
        ],
        "summary": "GSTIN Verification",
        "description": "Search Taxpayer Detail API fetches all public information available with GSTN portal. This information was given during the time of GST Registration of the Taxpayer. All you need to check out the latest version which GSTN has released for the api for an environment (ie production and sandbox).",
        "operationId": "eas_basic_v1_gstn_search_gstin",
        "_peer-api": "/basic/gstn/v3.0/commonapi/v0.3/search?gstin=33AOZPD0347J5ZO&action=TP",
        "parameters": [
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2"
          },
          {
            "name": "X-FLYNN-N-GSTN-GSP-CODE",
            "in": "header",
            "required": true,
            "description": "GSP Identifier",
            "schema": {
              "type": "string",
              "enum": [
                "vay"
              ]
            }
          },
          {
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 15,
              "example": "29HJKPS9689A8Z5"
            },
            "description": "GSTIN to search",
            "name": "gstin",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status",
                      "example": "1"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "adadr": {
                          "items": {
                            "properties": {
                              "addr": {
                                "properties": {
                                  "bnm": {
                                    "type": "string",
                                    "description": "Building Name",
                                    "example": "ELPHINSTONE BUILDING"
                                  },
                                  "bno": {
                                    "type": "string",
                                    "description": "Building Number",
                                    "example": "10"
                                  },
                                  "flno": {
                                    "type": "string",
                                    "description": "Floor number",
                                    "example": "1ST FLOOR"
                                  },
                                  "lg": {
                                    "type": "string",
                                    "description": "longitude",
                                    "example": "27.0238"
                                  },
                                  "loc": {
                                    "type": "string",
                                    "description": "location",
                                    "example": "FORT"
                                  },
                                  "lt": {
                                    "type": "string",
                                    "description": "lattitude",
                                    "example": "74.2179"
                                  },
                                  "pncd": {
                                    "type": "string",
                                    "description": "Pincode",
                                    "example": "400001"
                                  },
                                  "st": {
                                    "type": "string",
                                    "description": "Street Name",
                                    "example": "10, VEER NARIMAN ROAD"
                                  },
                                  "stcd": {
                                    "type": "string",
                                    "description": "State Name",
                                    "example": "Rajasthan"
                                  }
                                },
                                "type": "object"
                              },
                              "ntr": {
                                "items": {
                                  "type": "string",
                                  "description": "Nature of Additional place of business",
                                  "example": " Wholesale Business"
                                },
                                "type": "array"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "pradr": {
                          "properties": {
                            "addr": {
                              "properties": {
                                "bnm": {
                                  "type": "string",
                                  "description": "Building Name",
                                  "example": "KATGARA HOUSE"
                                },
                                "bno": {
                                  "type": "string",
                                  "description": "Building Number",
                                  "example": "5"
                                },
                                "flno": {
                                  "type": "string",
                                  "description": "Floor Number",
                                  "example": "4TH FLOOR"
                                },
                                "lg": {
                                  "type": "string",
                                  "description": "longitude",
                                  "example": "27.0238"
                                },
                                "loc": {
                                  "type": "string",
                                  "description": "Location",
                                  "example": "MALABAR HILL"
                                },
                                "lt": {
                                  "type": "string",
                                  "description": "lattitude",
                                  "example": "74.2179"
                                },
                                "pncd": {
                                  "type": "string",
                                  "description": "Pincode",
                                  "example": "400006"
                                },
                                "st": {
                                  "type": "string",
                                  "description": "Street Name",
                                  "example": " 15, L JAGMOHANDAS MARG"
                                },
                                "stcd": {
                                  "type": "string",
                                  "description": "State Name",
                                  "example": "Maharashtra"
                                }
                              },
                              "type": "object"
                            },
                            "ntr": {
                              "items": {
                                "type": "string",
                                "description": "Nature of pricipal place of Business",
                                "example": " Wholesale Business"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        },
                        "ctb": {
                          "type": "string",
                          "description": "Constitution of Business",
                          "example": "sole "
                        },
                        "ctj": {
                          "type": "string",
                          "description": "Center Jurisdiction",
                          "example": "Delhi"
                        },
                        "ctjCd": {
                          "type": "string",
                          "description": "Center Jurisdiction Code",
                          "example": "AP004"
                        },
                        "cxdt": {
                          "type": "string",
                          "description": "Date Of Cancellation",
                          "example": "NA"
                        },
                        "dty": {
                          "type": "string",
                          "description": "TaxPayer type",
                          "example": "Casual"
                        },
                        "gstin": {
                          "type": "string",
                          "description": "GST Identification Number",
                          "example": "27ASJPC0786C3C7"
                        },
                        "einvoiceStatus": {
                          "type": "string",
                          "description": "eInvoice enablement status for GSTIN",
                          "example": "Yes"
                        },
                        "lgnm": {
                          "type": "string",
                          "description": "Legal name of the business",
                          "example": "Vay Network Services Pvt Ltd"
                        },
                        "nba": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "description": "Nature of Business Activity",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Bonded Warehouse",
                            "Factory / Manufacturing",
                            "Input Service Distributor (ISD)",
                            "Office / Sale Office"
                          ]
                        },
                        "rgdt": {
                          "type": "string",
                          "description": "Date of Registration",
                          "example": "5/5/2017"
                        },
                        "stj": {
                          "type": "string",
                          "description": "State Jurisdiction",
                          "example": "Karnataka"
                        },
                        "stjCd": {
                          "type": "string",
                          "description": "State Jurisdiction Code",
                          "example": "AP003"
                        },
                        "sts": {
                          "type": "string",
                          "description": "GSTN status",
                          "example": "Active"
                        },
                        "lstupdt": {
                          "type": "string",
                          "format": "Date",
                          "pattern": "DD/MM/YYYY",
                          "description": "Lst Updated Date",
                          "example": "5/1/2017"
                        },
                        "tradeNam": {
                          "type": "string",
                          "description": "trade Name",
                          "example": "GSTN"
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error",
                      "example": null
                    },
                    "info": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info",
                      "example": null
                    },
                    "additionalInfo": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo",
                      "example": null
                    },
                    "alert": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert",
                      "example": null
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Failure Response",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status"
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error",
                      "type": "object"
                    },
                    "info": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info",
                      "example": null
                    },
                    "additionalInfo": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo",
                      "example": null
                    },
                    "alert": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert",
                      "example": null
                    }
                  },
                  "required": [
                    "status",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization information is missing or invalid.",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/atlas/v1/gcs/bulk": {
      "post": {
        "tags": [
          "Verification Suite"
        ],
        "summary": "GCS Generate",
        "description": "The Generate Good Compliance Score (GCS) API supports bulk score generation for multiple GSTINs (Max upto 50 GSTIN in single request). This is an asynchronous API and returns a `task-id` in the response upon successful submission. Use the returned task ID to track processing status via the [Status API](#/Support%20Suite/eas_enriched_v1_task_status). Once the task completes, retrieve the result using the [Get Result](#/Support%20Suite/eas_enriched_v1_result_task/example/0) API.\n\nA successful Get Result response is shown below:\n\n```json\n{\n  \"status\": \"1\",\n  \"data\": {\n    \"gstin\": \"29AAACT2727Q1ZS\",\n    \"score\": 462.5\n  },\n  \"error\": null,\n  \"info\": null,\n  \"additionalInfo\": null,\n  \"alert\": null\n}\n```",
        "operationId": "eas_enriched_v1_gcs_generate",
        "_peer-api": "/enriched/gcs/v1.0/generate",
        "parameters": [
          {
            "name": "X-ATLAS-ORG-ID",
            "description": "Organization (ID) on behalf of which the request is made",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "ba4cf3fa-f0da-4764-b108-eca22098e7cb"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "gstins": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 15,
                      "maxLength": 15,
                      "pattern": "([0-9]{2}[0-9A-Z]{13})",
                      "example": "26ABCMH0791G9ZI"
                    },
                    "example": [
                      "26ABCMH0791G9ZI",
                      "29AAACT2744Q1ZS"
                    ]
                  }
                },
                "required": [
                  "gstins"
                ],
                "example": {
                  "gstins": [
                    "26ABCMH0791G9ZI",
                    "29AAACT2744Q1ZS"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "name": "X-ATLAS-CALL-ID",
                "description": "A unique Identifier for your request",
                "in": "header",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-CALL-ID": {
                "name": "X-CALL-ID",
                "in": "header",
                "required": true,
                "description": "unique id",
                "schema": {
                  "type": "string",
                  "example": "395b8578-7439-44e9-a51a-c5e23b8e01b5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status",
                      "example": "1"
                    },
                    "data": {
                      "type": [
                        "object"
                      ],
                      "properties": {
                        "task-id": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error",
                      "example": null
                    },
                    "info": {
                      "example": null,
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    "additionalInfo": {
                      "example": null,
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "key": {
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "pdf": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "details": {
                          "type": [
                            "object",
                            "null"
                          ]
                        }
                      }
                    },
                    "alert": {
                      "example": null,
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Failure Response",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status indicates positive(1) or error response(0)",
                      "enum": [
                        "0",
                        "1"
                      ]
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error",
                      "type": "object"
                    },
                    "info": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info",
                      "example": null
                    },
                    "additionalInfo": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo",
                      "example": null
                    },
                    "alert": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert",
                      "example": null
                    }
                  },
                  "required": [
                    "status",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization information is missing or invalid.",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status"
                    },
                    "data": {
                      "type": "null",
                      "example": "null"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "Authorization"
                        },
                        "message": {
                          "type": "string",
                          "example": "err-invalid-org"
                        },
                        "args": {
                          "type": [
                            "object",
                            "null"
                          ]
                        }
                      }
                    },
                    "info": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info",
                      "example": null
                    },
                    "additionalInfo": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo",
                      "example": null
                    },
                    "alert": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert",
                      "example": null
                    }
                  },
                  "required": [
                    "status",
                    "error"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/atlas/v1/gstin/{gstin}/returns-track/fy/{fy}": {
      "get": {
        "tags": [
          "Compliance Suite"
        ],
        "summary": "Get View And Track Returns",
        "description": "View and Track Return API fetches public information on return filing of a particular GSTIN. You need to provide the financial year (FY) along with the GSTIN to fetch the results (return filings) done during that FY.",
        "operationId": "eas_basic_v1_gstn_view_returns",
        "_peer-api": "/basic/gstn/v3.0/commonapi/v1.0/returns?gstin=29HJKPS9689A8Z5&fy=2020-21&action=RETTRACK&type=R1",
        "parameters": [
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1gstin~1%7Bgstin%7D/get/parameters/3"
          },
          {
            "name": "gstin",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 15,
              "example": "29HJKPS9689A8Z5"
            },
            "description": "GSTIN to search",
            "in": "path"
          },
          {
            "name": "fy",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2017-18"
            },
            "description": "format = YYYY-YY <br />  min-value = 2017-18 ",
            "in": "path"
          },
          {
            "name": "action",
            "required": true,
            "schema": {
              "type": "string",
              "example": "RETTRACK"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status",
                      "example": "1"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "EFiledlist": {
                          "description": "List of Electronically filed returns",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "valid": {
                                "type": "boolean",
                                "examples": true
                              },
                              "mof": {
                                "type": "string",
                                "examples": [
                                  "ONLINE"
                                ]
                              },
                              "dof": {
                                "type": "string",
                                "examples": [
                                  "16-01-2018"
                                ]
                              },
                              "ret_prd": {
                                "type": "string",
                                "examples": [
                                  "062017"
                                ]
                              },
                              "rtntype": {
                                "type": "string",
                                "examples": [
                                  "GSTR3B"
                                ]
                              },
                              "arn": {
                                "type": "string",
                                "examples": [
                                  "AA080617000247D"
                                ]
                              },
                              "status": {
                                "type": "string",
                                "examples": [
                                  "Filed"
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error",
                      "example": null
                    },
                    "info": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info",
                      "example": null
                    },
                    "additionalInfo": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo",
                      "example": null
                    },
                    "alert": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert",
                      "example": null
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Failure Response",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "error"
                  ],
                  "properties": {
                    "status": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status"
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error",
                      "type": "object"
                    },
                    "info": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info",
                      "example": null
                    },
                    "additionalInfo": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo",
                      "example": null
                    },
                    "alert": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authorization information is missing or invalid.",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/atlas/v1/irp/{irp}/einvoice/bulk": {
      "post": {
        "tags": [
          "Compliance Suite"
        ],
        "summary": "Create Bulk einvoice",
        "description": "Generate IRN(s) API supports creation of bulk e-invoices, as opposed to its basic counterpart. Create e-invoice in bulk is an asynchronous API, hence will give a task ID in response. Given a task ID, you could fetch the task status using Status API. In order to download the result, you would need to use Download API.",
        "operationId": "eas_enriched_v1_generate_invoices",
        "_peer-api": "/enriched/einv/v3.0/ni1/invoices",
        "parameters": [
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/3"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/4"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/5"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/6"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/parameters/7"
          },
          {
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ni1",
                "ni2"
              ]
            },
            "description": "IRP Provider as per GST registration for e-invoicing",
            "name": "irp",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "array",
                    "items": {
                      "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice/post/requestBody/content/application~1json/schema"
                    }
                  },
                  "meta": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "pdf": {
                        "type": "string",
                        "enum": [
                          "Y",
                          "N"
                        ],
                        "example": "Y"
                      },
                      "emailRecipientList": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "abc@@gmail.com"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "payload"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status",
                      "example": "1"
                    },
                    "data": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/data"
                    },
                    "error": {
                      "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error",
                      "example": null
                    },
                    "info": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info",
                      "example": null
                    },
                    "additionalInfo": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo",
                      "example": null
                    },
                    "alert": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert",
                      "example": null
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            },
            "links": {
              "CheckTaskStatus": {
                "operationId": "eas_enriched_v1_task_status",
                "parameters": {
                  "task-id": "$response.body#/data/task-id"
                }
              }
            }
          },
          "400": {
            "description": "Failure Response",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status"
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error",
                      "type": "object"
                    },
                    "info": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info",
                      "example": null
                    },
                    "additionalInfo": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo",
                      "example": null
                    },
                    "alert": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert",
                      "example": null
                    }
                  },
                  "required": [
                    "status",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization information is missing or invalid.",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/atlas/v1/eas-task/{task-id}": {
      "get": {
        "tags": [
          "Support Suite"
        ],
        "summary": "Get Task Status",
        "description": "This API is used to fetch the current status of the long-running-tasks.",
        "operationId": "eas_enriched_v1_task_status",
        "_peer-api": "enriched/tasks/v1.0/status/2e9f6d17-ffcb-4395-8d0c-3fa8c5d08d95",
        "parameters": [
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1"
          },
          {
            "name": "task-id",
            "description": "Reference ID provided in the response of a long-running operation",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status",
                      "example": "1"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "2e9f6d17-ffcb-4395-8d0c-3fa8c5d08d95"
                        },
                        "status": {
                          "type": "string",
                          "example": "completed"
                        },
                        "jobs": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "example": 1
                            },
                            "pending": {
                              "type": "integer",
                              "example": 0
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error",
                      "example": null
                    },
                    "info": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info",
                      "example": null
                    },
                    "additionalInfo": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo",
                      "example": null
                    },
                    "alert": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert",
                      "example": null
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Failure Response",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status"
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error",
                      "type": "object"
                    },
                    "info": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info",
                      "example": null
                    },
                    "additionalInfo": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo",
                      "example": null
                    },
                    "alert": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert",
                      "example": null
                    }
                  },
                  "required": [
                    "status",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization information is missing or invalid.",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/atlas/v1/eas-task/{task-id}/download": {
      "get": {
        "tags": [
          "Support Suite"
        ],
        "summary": "Get Download File",
        "description": "This API is used to download the processed response of the long-running-tasks. Download API response is unique for each API. Check out for detailed-documentation in the respective APIs.",
        "operationId": "eas_enriched_v1_download_task",
        "_peer-api": "enriched/tasks/v1.0/download/1872585f-4397-4e96-81d9-649f3b25aa2b",
        "parameters": [
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2"
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "application/zip"
            }
          },
          {
            "required": true,
            "schema": {
              "type": "string"
            },
            "name": "task-id",
            "description": "The task-id obtained by hitting async api",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              },
              "Content-Encoding": {
                "name": "Content-Encoding",
                "description": "A Encoding Algorithm used for encoding response",
                "in": "header",
                "schema": {
                  "type": "gzip"
                }
              }
            },
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "gzip"
                }
              }
            }
          },
          "400": {
            "description": "Failure Response",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status"
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error",
                      "type": "object"
                    },
                    "info": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info",
                      "example": null
                    },
                    "additionalInfo": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo",
                      "example": null
                    },
                    "alert": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert",
                      "example": null
                    }
                  },
                  "required": [
                    "status",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization information is missing or invalid.",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/atlas/v1/eas-task/{task-id}/result": {
      "get": {
        "tags": [
          "Support Suite"
        ],
        "summary": "Get Result",
        "description": "This API is used to fetch the result of the long-running-tasks. The `data` depends on which API created the `task-id` (see Examples dropdown on 200). Full schemas are also documented on each originating API.",
        "operationId": "eas_enriched_v1_result_task",
        "_peer-api": "enriched/tasks/v1.0/result/1872585f-4397-4e96-81d9-649f3b25aa2b",
        "parameters": [
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1"
          },
          {
            "name": "task-id",
            "description": "Reference ID provided in the response of a long-running operation",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status",
                      "example": "1"
                    },
                    "data": {
                      "description": "Varies by the API that created the task-id.",
                      "oneOf": [
                        {
                          "title": "GCS Generate Result",
                          "type": "object",
                          "description": "Result for a task created by GCS Generate.",
                          "properties": {
                            "gstin": {
                              "type": "string",
                              "minLength": 15,
                              "maxLength": 15,
                              "pattern": "([0-9]{2}[0-9A-Z]{13})",
                              "example": "29AAACT2727Q1ZS"
                            },
                            "score": {
                              "type": "number",
                              "example": 462.5
                            }
                          },
                          "required": [
                            "gstin",
                            "score"
                          ],
                          "example": {
                            "gstin": "29AAACT2727Q1ZS",
                            "score": 462.5
                          }
                        }
                      ]
                    },
                    "error": {
                      "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error",
                      "example": null
                    },
                    "info": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info",
                      "example": null
                    },
                    "additionalInfo": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo",
                      "example": null
                    },
                    "alert": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert",
                      "example": null
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                },
                "examples": {
                  "GCS Generate": {
                    "summary": "Result when task-id comes from GCS Generate",
                    "value": {
                      "status": "1",
                      "data": [
                        {
                          "status": "1",
                          "data": {
                            "gstin": "26ABCMH0791G9ZI",
                            "score": 450
                          },
                          "error": null,
                          "info": null,
                          "additionalInfo": null,
                          "alert": null
                        },
                        {
                          "status": "0",
                          "data": null,
                          "error": {
                            "type": "Runtime",
                            "message": "err-gcs-generation-failed",
                            "args": {
                              "gstin": "29AAACT2744Q1ZS"
                            }
                          },
                          "info": null,
                          "additionalInfo": null,
                          "alert": null
                        }
                      ],
                      "error": null,
                      "info": null,
                      "additionalInfo": null,
                      "alert": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failure Response",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/400/content/application~1json/schema/properties/status"
                    },
                    "data": {
                      "type": "null"
                    },
                    "error": {
                      "$ref": "#/paths/~1atlas~1v1~1irp~1%7Birp%7D~1einvoice~1%7Birn%7D~1pdf/get/responses/400/content/application~1json/schema/properties/error",
                      "type": "object"
                    },
                    "info": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/info",
                      "example": null
                    },
                    "additionalInfo": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/additionalInfo",
                      "example": null
                    },
                    "alert": {
                      "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/content/application~1json/schema/properties/alert",
                      "example": null
                    }
                  },
                  "required": [
                    "status",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Authorization information is missing or invalid.",
            "headers": {
              "X-ATLAS-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-ATLAS-CALL-ID"
              },
              "X-CALL-ID": {
                "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/200/headers/X-CALL-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/responses/403/content/application~1json/schema"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/atlas/v1/irp/{irp}/einvoice": {
      "post": {
        "tags": [
          "Compliance Suite"
        ],
        "summary": "Generate E-Invoice",
        "description": "Generate IRN offers single e-invoice generation",
        "operationId": "eas_basic_v1_generate_invoice",
        "_peer-api": "/basic/einv/v3.0/ni1/eicore/v1.03/Invoice",
        "parameters": [
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/0"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/1"
          },
          {
            "$ref": "#/paths/~1atlas~1v1~1gcs~1bulk/post/parameters/2"
          },
          {
            "name": "X-FLYNN-N-IRP-GSP-CODE",
            "in": "header",
            "required": true,
            "description": "GSP Identifier",
            "schema": {
              "type": "string",
              "enum": [
                "vay"
              ]
            }
          },
          {
            "name": "X-FLYNN-N-IRP-GSTIN",
            "in": "header",
            "required": true,
            "description": "GSTIN of the taxpayer",
            "schema": {
              "maxLength": 15,
              "example": "29HJKPS9689A8Z5"
            }
          },
          {
            "name": "X-FLYNN-N-IRP-USERNAME",
            "in": "header",
            "required": true,
            "description": "Portal username associated with taxpayer GSTIN for the GSP, Non-sensitive",
            "schema": {
              "type": "string",
              "example": "test_24_001"
            }
          },
          {
            "name": "X-FLYNN-N-IRP-PWD",
            "in": "header",
            "required": false,
            "description": "Portal password associated with GSTIN and Username for the GSP, Non-Sensitive. <br /> Provide either `X-FLYNN-N-IRP-PWD` or `X-FLYNN-S-IRP-PWD`",
            "schema": {
              "type": "string",
              "example": "Trial63$value"
            }
          },
          {
            "name": "X-FLYNN-S-IRP-PWD",
            "in": "header",
            "required": false,
            "description": "Portal password associated with GSTIN and Username for the GSP encrypted, Non-Sensitive. <br /> Provide either `X-FLYNN-N-IRP-PWD` or `X-FLYNN-S-IRP-PWD`<br /> for encryption details see <a href='#secureEncryptionInEas'>S-REK<a/>",
            "schema": {
              "type": "string",
              "example": "Trial63$value"
            }
          },
          {
            "name": "irp",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ni1",
                "ni2"
              ],
              "example": "ni1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "Title": "GST-India Invoice Document ",
                "Description": "GST Invoice format for IRN Generation in INDIA",
                "properties": {
                  "Version": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 6,
                    "example": "1.1"
                  },
                  "Irn": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64,
                    "example": ""
                  },
                  "TranDtls": {
                    "type": "object",
                    "properties": {
                      "TaxSch": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 10,
                        "enum": [
                          "GST"
                        ],
                        "pattern": "^(GST)$",
                        "example": "GST"
                      },
                      "SupTyp": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 10,
                        "enum": [
                          "B2B",
                          "SEZWP",
                          "SEZWOP",
                          "EXPWP",
                          "EXPWOP",
                          "DEXP"
                        ],
                        "pattern": "(?i)^((B2B)|(SEZWP)|(SEZWOP)|(EXPWP)|(EXPWOP)|(DEXP))$",
                        "example": "B2B"
                      },
                      "RegRev": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 1,
                        "enum": [
                          "Y",
                          "N"
                        ],
                        "pattern": "^([Y|N]{1})$",
                        "example": "N"
                      },
                      "EcmGstin": {
                        "type": "string",
                        "minLength": 15,
                        "maxLength": 15,
                        "pattern": "^([0-9]{2}[0-9A-Z]{13})$",
                        "example": null
                      },
                      "IgstOnIntra": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 1,
                        "enum": [
                          "Y",
                          "N"
                        ],
                        "pattern": "^([Y|N]{1})$",
                        "example": "N"
                      }
                    },
                    "required": [
                      "TaxSch",
                      "SupTyp"
                    ]
                  },
                  "DocDtls": {
                    "type": "object",
                    "properties": {
                      "Typ": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 3,
                        "enum": [
                          "INV",
                          "CRN",
                          "DBN"
                        ],
                        "pattern": "(?i)^((INV)|(CRN)|(DBN))$",
                        "example": "INV"
                      },
                      "No": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 16,
                        "pattern": "^([a-zA-Z1-9]{1}[a-zA-Z0-9/-]{0,15})$",
                        "example": "DOC/INV-ATS/001"
                      },
                      "Dt": {
                        "type": "string",
                        "minLength": 10,
                        "maxLength": 10,
                        "pattern": "^[0-3][0-9]/[0-1][0-9]/[2][0][1-2][0-9]$",
                        "example": "24/09/2023"
                      }
                    },
                    "required": [
                      "Typ",
                      "No",
                      "Dt"
                    ]
                  },
                  "SellerDtls": {
                    "type": "object",
                    "properties": {
                      "Gstin": {
                        "type": "string",
                        "minLength": 15,
                        "maxLength": 15,
                        "pattern": "([0-9]{2}[0-9A-Z]{13})",
                        "example": "27AAAPI3182M002"
                      },
                      "LglNm": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "NIC company pvt ltd"
                      },
                      "TrdNm": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "NIC Industries"
                      },
                      "Addr1": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "5th block, kuvempu layout"
                      },
                      "Addr2": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "kuvempu layout"
                      },
                      "Loc": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 50,
                        "pattern": "^([^\\\"])*$",
                        "example": "Maharastra"
                      },
                      "Pin": {
                        "type": "number",
                        "minimum": 100000,
                        "maximum": 999999,
                        "example": 400049
                      },
                      "Stcd": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2,
                        "pattern": "^(?!0+$)([0-9]{1,2})$",
                        "example": "27"
                      },
                      "Ph": {
                        "type": "String",
                        "minLength": 6,
                        "maxLength": 12,
                        "pattern": "^([0-9]{6,12})$",
                        "example": "9000000000"
                      },
                      "Em": {
                        "type": "string",
                        "minLength": 6,
                        "maxLength": 100,
                        "pattern": "^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$",
                        "example": "abc@gmail.com"
                      }
                    },
                    "required": [
                      "Gstin",
                      "LglNm",
                      "Addr1",
                      "Loc",
                      "Pin",
                      "Stcd"
                    ]
                  },
                  "BuyerDtls": {
                    "type": "object",
                    "properties": {
                      "Gstin": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 15,
                        "pattern": "^(([0-9]{2}[0-9A-Z]{13})|URP)$",
                        "example": "19AAAPI3182M007"
                      },
                      "LglNm": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "XYZ company pvt ltd"
                      },
                      "TrdNm": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "XYZ Industries"
                      },
                      "Pos": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2,
                        "pattern": "^(?!0+$)([0-9]{1,2})$",
                        "example": "19"
                      },
                      "Addr1": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "7th block, kuvempu layout"
                      },
                      "Addr2": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "kuvempu layout"
                      },
                      "Loc": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "Kolkata"
                      },
                      "Pin": {
                        "type": " number",
                        "minimum": 100000,
                        "maximum": 999999,
                        "example": 722144
                      },
                      "Stcd": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2,
                        "pattern": "^(?!0+$)([0-9]{1,2})$",
                        "example": 19
                      },
                      "Ph": {
                        "type": "String",
                        "minLength": 6,
                        "maxLength": 12,
                        "pattern": "^([0-9]{6,12})$",
                        "example": "91111111111"
                      },
                      "Em": {
                        "type": "string",
                        "minLength": 6,
                        "maxLength": 100,
                        "pattern": "^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$",
                        "example": "xyz@yahoo.com"
                      }
                    },
                    "required": [
                      "Gstin",
                      "LglNm",
                      "Pos",
                      "Addr1",
                      "Loc",
                      "Stcd"
                    ]
                  },
                  "DispDtls": {
                    "type": "object",
                    "properties": {
                      "Nm": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "ABC company pvt ltd"
                      },
                      "Addr1": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "7th block, kuvempu layout"
                      },
                      "Addr2": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "kuvempu layout"
                      },
                      "Loc": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "Maharastra"
                      },
                      "Pin": {
                        "type": "number",
                        "minimum": 100000,
                        "maximum": 999999,
                        "example": "400049"
                      },
                      "Stcd": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2,
                        "pattern": "^(?!0+$)([0-9]{1,2})$",
                        "example": "27"
                      }
                    },
                    "required": [
                      "Nm",
                      "Addr1",
                      "Loc",
                      "Pin",
                      "Stcd"
                    ]
                  },
                  "ShipDtls": {
                    "type": "object",
                    "properties": {
                      "Gstin": {
                        "type": "string",
                        "maxLength": 15,
                        "minLength": 3,
                        "pattern": "^(([0-9]{2}[0-9A-Z]{13})|URP)$",
                        "example": "27ACBPN2353E1ZX"
                      },
                      "LglNm": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "CBE company pvt ltd"
                      },
                      "TrdNm": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "kuvempu layout"
                      },
                      "Addr1": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "7th block, kuvempu layout"
                      },
                      "Addr2": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "kuvempu layout"
                      },
                      "Loc": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "ABC"
                      },
                      "Pin": {
                        "type": "number",
                        "minimum": 100000,
                        "maximum": 999999,
                        "example": "400049"
                      },
                      "Stcd": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2,
                        "pattern": "^(?!0+$)([0-9]{1,2})$",
                        "example": "27"
                      }
                    },
                    "required": [
                      "LglNm",
                      "Addr1",
                      "Loc",
                      "Pin",
                      "Stcd"
                    ]
                  },
                  "ItemList": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "SlNo": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 6,
                          "pattern": "^([0-9]{1,6})$",
                          "example": "1"
                        },
                        "PrdDesc": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 300,
                          "pattern": "^([^\\\"])*$",
                          "example": "Rice"
                        },
                        "IsServc": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 1,
                          "enum": [
                            "Y",
                            "N"
                          ],
                          "pattern": "^([Y|N]{1})$",
                          "example": "N"
                        },
                        "HsnCd": {
                          "type": "string",
                          "minLength": 4,
                          "maxLength": 8,
                          "pattern": "^(?!0+$)([0-9]{4}|[0-9]{6}|[0-9]{8})$",
                          "example": "1001"
                        },
                        "Barcde": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 30,
                          "pattern": "^([^\\\"])*$",
                          "example": "123456"
                        },
                        "Qty": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 9999999999.999,
                          "example": 100.345
                        },
                        "FreeQty": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 9999999999.999,
                          "example": 10
                        },
                        "Unit": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 8,
                          "pattern": "^([A-Z|a-z]{3,8})$",
                          "example": "BAG"
                        },
                        "UnitPrice": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999999999999.999,
                          "example": 99.545
                        },
                        "TotAmt": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999999999999.99,
                          "example": 9988.84
                        },
                        "Discount": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999999999999.99,
                          "example": 10
                        },
                        "PreTaxVal": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999999999999.99,
                          "example": 1
                        },
                        "AssAmt": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999999999999.99,
                          "example": 9978.84
                        },
                        "GstRt": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999.999,
                          "example": 12
                        },
                        "IgstAmt": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999999999999.99,
                          "example": 1197.84
                        },
                        "CgstAmt": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999999999999.99,
                          "example": 0
                        },
                        "SgstAmt": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999999999999.99,
                          "example": 0
                        },
                        "CesRt": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999.999,
                          "example": 5
                        },
                        "CesAmt": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999999999999.99,
                          "example": 498.94
                        },
                        "CesNonAdvlAmt": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999999999999.99,
                          "example": 10
                        },
                        "StateCesRt": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999.999,
                          "example": 12
                        },
                        "StateCesAmt": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999999999999.99,
                          "example": 1197.46
                        },
                        "StateCesNonAdvlAmt": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999999999999.99,
                          "example": 5
                        },
                        "OthChrg": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999999999999.99,
                          "example": 10
                        },
                        "TotItemVal": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 999999999999.99,
                          "example": 12897.7
                        },
                        "OrdLineRef": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 50,
                          "pattern": "^([^\\\"])*$",
                          "example": "3256"
                        },
                        "OrgCntry": {
                          "type": "string",
                          "minLength": 2,
                          "maxLength": 2,
                          "pattern": "^([A-Z|a-z]{2})$",
                          "example": "AG"
                        },
                        "PrdSlNo": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 20,
                          "pattern": "^([^\\\"])*$",
                          "example": "12345"
                        },
                        "BchDtls": {
                          "type": "object",
                          "properties": {
                            "Nm": {
                              "type": "string",
                              "minLength": 3,
                              "maxLength": 20,
                              "pattern": "^([^\\\"])*$",
                              "example": "123456"
                            },
                            "ExpDt": {
                              "type": "string",
                              "maxLength": 10,
                              "minLength": 10,
                              "pattern": "^[0-3][0-9]/[0-1][0-9]/[2][0][1-2][0-9]$",
                              "example": "24/10/2023"
                            },
                            "WrDt": {
                              "type": "string",
                              "maxLength": 10,
                              "minLength": 10,
                              "pattern": "^[0-3][0-9]/[0-1][0-9]/[2][0][1-2][0-9]$",
                              "example": "24/09/2020"
                            }
                          },
                          "required": [
                            "Nm"
                          ]
                        },
                        "AttribDtls": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Nm": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 100,
                                "pattern": "^([^\\\"])*$",
                                "example": "Rice"
                              },
                              "Val": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 100,
                                "pattern": "^([^\\\"])*$",
                                "example": "10000"
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "SlNo",
                        "IsServc",
                        "HsnCd",
                        "UnitPrice",
                        "TotAmt",
                        "AssAmt",
                        "GstRt",
                        "TotItemVal"
                      ]
                    }
                  },
                  "ValDtls": {
                    "type": "object",
                    "properties": {
                      "AssVal": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 99999999999999.98,
                        "example": 9978.84
                      },
                      "CgstVal": {
                        "type": "number",
                        "maximum": 99999999999999.98,
                        "minimum": 0,
                        "example": 0
                      },
                      "SgstVal": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 99999999999999.98,
                        "example": 0
                      },
                      "IgstVal": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 99999999999999.98,
                        "example": 1197.46
                      },
                      "CesVal": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 99999999999999.98,
                        "example": 508.94
                      },
                      "StCesVal": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 99999999999999.98,
                        "example": 1202.46
                      },
                      "Discount": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 99999999999999.98,
                        "example": 10
                      },
                      "OthChrg": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 99999999999999.98,
                        "example": 20
                      },
                      "RndOffAmt": {
                        "type": "number",
                        "minimum": -99.99,
                        "maximum": 99.99,
                        "example": 0.3
                      },
                      "TotInvVal": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 99999999999999.98,
                        "example": 12908
                      },
                      "TotInvValFc": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 99999999999999.98,
                        "example": 12897.7
                      }
                    },
                    "required": [
                      "AssVal",
                      "TotInvVal"
                    ]
                  },
                  "PayDtls": {
                    "type": "object",
                    "properties": {
                      "Nm": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "ABCDE"
                      },
                      "AccDet": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 18,
                        "pattern": "^([^\\\"])*$",
                        "example": "5697389713210"
                      },
                      "Mode": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 18,
                        "pattern": "^([^\\\"])*$",
                        "example": "Cash"
                      },
                      "FinInsBr": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 11,
                        "pattern": "^([^\\\"])*$",
                        "example": "SBIN11000"
                      },
                      "PayTerm": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "100"
                      },
                      "PayInstr": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "description": "Payment Instruction",
                        "example": "Gift"
                      },
                      "CrTrn": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "example": "test"
                      },
                      "DirDr": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "pattern": "^([^\\\"])*$",
                        "description": "Direct Debit",
                        "example": "test"
                      },
                      "CrDay": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 9999,
                        "description": "Credit Days",
                        "example": 100
                      },
                      "PaidAmt": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 99999999999999.98,
                        "example": 10000
                      },
                      "PaymtDue": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 99999999999999.98,
                        "example": 5000
                      }
                    }
                  },
                  "RefDtls": {
                    "type": "object",
                    "properties": {
                      "InvRm": {
                        "type": "string",
                        "maxLength": 100,
                        "minLength": 3,
                        "pattern": "^([^\\\"])*$",
                        "example": "TEST"
                      },
                      "DocPerdDtls": {
                        "type": "object",
[...]
